<div class="page-wrap height-100 mat-bg-primary">
  <div class="session-form-hold">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pb-1">
          <img src="assets/images/Logo_YouVita.png" alt="" class="mb-05">
          <!-- <p class="text-muted m-0">Acessar minha conta</p> -->
        </div>
        <form [formGroup]="signinForm" (ngSubmit)="signin()" autocomplete="off">
          <div class=""> 
            <mat-form-field class="full-width">
              <input #usuario
                matInput
                name="usuario" autocommplete="off"
                [formControl]="signinForm.controls['username']"
                placeholder="Email/Login"
                value="" upperCase>
            </mat-form-field>
            <small 
              *ngIf="signinForm.controls['username'].hasError('required') && signinForm.controls['username'].touched" 
              class="form-error-msg"> Campo obrigatório </small>
          </div>

          <div class="">
            <mat-form-field class="full-width">
              <input 
                type="password"
                name="password"
                matInput
                [formControl]="signinForm.controls['password']"
                placeholder="Senha" 
                value="" upperCase>
            </mat-form-field>
            <small 
              *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched" 
              class="form-error-msg"> Senha é obrigatória </small>
          </div>
          
          <!-- <div class="pb-1">
            <mat-checkbox
              name="rememberMe"
              [formControl]="signinForm.controls['rememberMe']"
              class="pb-1">Lembrar neste computador</mat-checkbox>
          </div> -->
          
          <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="signinForm.invalid">Acessar</button>
          <!-- <div class="text-center">
            <a [routerLink]="'/sessao/esqueci'" class="mat-primary text-center full-width">Esqueci minha senha</a>
            <span fxFlex></span>
            <!-- <a [routerLink]="'/sessao/cadastrar'" class="mat-primary text-center full-width">Criar nova conta</a> 
          </div> -->
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

