<h3>
  {{data.title}}</h3>
<form [formGroup]="represrForm" (ngSubmit)="SaveRepresentative()" autocomplete="off">
  <mat-dialog-content class="corpo">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">         

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="representativeName" placeholder="Nome do Representante" maxlength="50" upperCase
            [formControl]="represrForm.controls['representativeName']" required>
          <mat-error *ngIf="this.represrForm.get('representativeName').hasError('required')">
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="email" placeholder="Email" maxlength="100" upperCase
            [formControl]="represrForm.controls['email']">
          <mat-error *ngIf="this.represrForm.get('email').hasError('required')" required>
            {{campoObrigatorio}}
          </mat-error>
          <mat-error *ngIf="this.represrForm.get('email').hasError('email')">
            {{emailInvalido}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="15" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="cpf" placeholder="CPF" maxlength="14" upperCase mask="000.000.000-00"
            [formControl]="represrForm.controls['cpf']" required>
          <mat-error *ngIf="this.represrForm.get('cpf').hasError('required')">
            {{campoObrigatorio}}
          </mat-error>          
        </mat-form-field>
      </div>            

      <div fxFlex="25" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Login" placeholder="Login" maxlength="14" upperCase
            [formControl]="represrForm.controls['login']" required>
          <mat-error *ngIf="this.represrForm.get('login').hasError('required')">
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="pawword" placeholder="Senha" maxlength="20" upperCase type="password"
            [formControl]="represrForm.controls['password']" required>
          <mat-error *ngIf="this.represrForm.get('password').hasError('required')">
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="confirmpass" placeholder="Confirmar senha" maxlength="20" upperCase type="password"
            [formControl]="represrForm.controls['confirmPassword']" required>
          <mat-error *ngIf="this.represrForm.get('confirmPassword').hasError('required')">
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="represrForm.controls['status']" placeholder="Status" required>
            <mat-option value="1">Ativo</mat-option>
            <mat-option value="2">Suspenso</mat-option>
          </mat-select>
          <mat-error *ngIf="this.represrForm.get('status').hasError('required')">
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="represrForm.controls['laboratoryID']" placeholder="Laboratório" required>
            <mat-option *ngFor="let lab of listLabs" [value]="lab.laboratoryID">{{lab.laboratoryFantasyName}} </mat-option>            
          </mat-select>
          <mat-error *ngIf="this.represrForm.get('laboratoryID').hasError('required')">
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>        
      
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="address" placeholder="Logradouro" maxlength="100" upperCase
            [formControl]="represrForm.controls['address']" required>
          <mat-error *ngIf="this.represrForm.get('address').hasError('required')">
            {{campoObrigatorio}}
          </mat-error>          
        </mat-form-field>
      </div>

      <div fxFlex="15" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="addressNumber" placeholder="Número" maxlength="10" upperCase
            [formControl]="represrForm.controls['addressNumber']" required>
          <mat-error *ngIf="this.represrForm.get('addressNumber').hasError('required')">
            {{campoObrigatorio}}
          </mat-error>          
        </mat-form-field>
      </div>

      <div fxFlex="25" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="complement" placeholder="Complemento" maxlength="100" upperCase
            [formControl]="represrForm.controls['complement']">          
        </mat-form-field>
      </div>

      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="city" placeholder="Cidade" maxlength="50" upperCase
            [formControl]="represrForm.controls['city']" required>
          <mat-error *ngIf="this.represrForm.get('city').hasError('required')">
            {{campoObrigatorio}}
          </mat-error>          
        </mat-form-field>
      </div>

      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="neighborhood" placeholder="Bairro" maxlength="50" upperCase
            [formControl]="represrForm.controls['neighborhood']" required>
          <mat-error *ngIf="this.represrForm.get('neighborhood').hasError('required')">
            {{campoObrigatorio}}
          </mat-error>          
        </mat-form-field>
      </div>

      <div fxFlex="25" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="represrForm.controls['stateId']" placeholder="UF" required>
            <mat-option *ngFor="let state of listState" [value]="state.stateId" >{{state.stateName}} </mat-option>            
          </mat-select>
          <mat-error *ngIf="this.represrForm.get('stateId').hasError('required')">
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>         

      <div fxFlex="15" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="zipCode" placeholder="CEP" maxlength="9" upperCase mask="00000-000"
            [formControl]="represrForm.controls['zipCode']" required>
          <mat-error *ngIf="this.represrForm.get('zipCode').hasError('required')">
            {{campoObrigatorio}}
          </mat-error>          
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="zipCode" placeholder="Telefone Comercial" maxlength="20" upperCase mask="(00)000000000"
            [formControl]="represrForm.controls['phoneComercial']">          
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="ramal" placeholder="Ramal" maxlength="20" upperCase mask="0000"
            [formControl]="represrForm.controls['cellPhone']">          
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="cellPhone" placeholder="Celular" maxlength="20" upperCase mask="(00)000000000"
            [formControl]="represrForm.controls['cellPhone']">          
        </mat-form-field>
      </div>    

      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="address" placeholder="Observações" maxlength="200" upperCase
            [formControl]="represrForm.controls['comments']">
        </mat-form-field>
      </div>


    </div>
  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" [disabled]="represrForm.invalid">Gravar</button>
      <span fxFlex></span>
    </div>
  </div>
</form>
