<h3>
  {{data.title}}</h3>
<form [formGroup]="pacienteForm" (ngSubmit)="savePatient()" autocomplete="off">
  <mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1" *ngIf="telaCliente==false">
        <mat-form-field class="full-width">
          <mat-select [formControl]="pacienteForm.controls['ClientId']" placeholder="Cliente" required>
            <mat-option *ngFor="let client of listClients" [value]="client.ClientId">{{client.ClientFantasyName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1" *ngIf="telaCliente==true">
        <mat-form-field class="full-width">
          <input matInput name="IdentificationOnClient" [formControl]="pacienteForm.controls['ClientName']" upperCase
            required>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="PatientName" [formControl]="pacienteForm.controls['PatientName']"
            placeholder="Nome do Paciente" maxlength="60" upperCase required>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput placeholder="Data de Nascimento" [max]="maxDate" type="date" 
            [formControl]="pacienteForm.controls['BirthDate']" required >
          <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> -->
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="CPF" [formControl]="pacienteForm.controls['CPF']" placeholder="CPF" upperCase
            maxlength="14" mask="000.000.000-00" required>
        </mat-form-field>
      </div>
      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="RG" [formControl]="pacienteForm.controls['RG']" placeholder="RG" maxlength="20"
            upperCase required>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="pacienteForm.controls['patientType']" placeholder="Tipo Paciente" required>
            <mat-option *ngFor="let patientType of patientTypes" [value]="patientType.value">
              {{patientType.viewValue}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="IdentificationOnClient" [formControl]="pacienteForm.controls['IdentificationOnClient']"
            placeholder="Identificação do cliente" maxlength="20" upperCase required>
        </mat-form-field>
      </div>
      <div fxFlex="40" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Responsible" [formControl]="pacienteForm.controls['Responsible']"
            placeholder="Responsável" maxlength="60" upperCase required>
        </mat-form-field>
      </div>

      <div fxFlex="40" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="BestContactPeriod" [formControl]="pacienteForm.controls['BestContactPeriod']"
            placeholder="Melhor período de contato" maxlength="20" upperCase required>
        </mat-form-field>
      </div>
      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="CID1" [formControl]="pacienteForm.controls['CID1']" placeholder="CID 1" maxlength="20"
            upperCase required>
        </mat-form-field>
      </div>

      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="CID2" [formControl]="pacienteForm.controls['CID2']" placeholder="CID 2" maxlength="20"
            upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="CID3" [formControl]="pacienteForm.controls['CID3']" placeholder="CID 3" maxlength="20"
            upperCase>
        </mat-form-field>
      </div>

      <div fxFlex="40" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="pacienteForm.controls['PatientStatus']" placeholder="Status" required>
            <mat-option *ngFor="let ps of patientStatus" [value]="ps.value">
              {{ps.viewValue}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Comments" [formControl]="pacienteForm.controls['Comments']" placeholder="Observações"
            maxlength="60" upperCase>
        </mat-form-field>
      </div>

    </div>

    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Telefones</span><span class="mat-card-titulo" fxFlex></span>
        <!-- <button mat-icon-button type="button" (click)="addPhone()">
          <mat-icon>add</mat-icon>
        </button> -->
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">
        <form [formGroup]="foneForm" (ngSubmit)="addPhone()" autocomplete="off">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="25" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="phoneNumber" [formControl]="foneForm.controls['phoneNumber']"
                  placeholder="Telefone" upperCase maxlength="14" mask="(00)000000000" #telefone>
              </mat-form-field>
            </div>

            <div fxFlex="25" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Ramal" [formControl]="foneForm.controls['ramal']" placeholder="Ramal"
                  maxlength="6" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="25" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select [formControl]="foneForm.controls['phoneTypeId']" placeholder="Tipo de Telefone">
                  <mat-option>Selecione o Tipo de Telefone</mat-option>
                  <mat-option *ngFor="let phoneType of listPhoneType" [value]="phoneType.phoneTypeId">
                    {{phoneType.description}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="25" class="pr-1">
              <button mat-raised-button class="mat-primary" [disabled]="foneForm.invalid" type="button"
                (click)="addPhone()">Adicionar Telefone</button>
            </div>
          </div>
        </form>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="listPhones" [columnMode]="'standard'" [headerHeight]="35"
              [footerHeight]="0" [rowHeight]="'35'" [messages]="{emptyMessage: ''}">
              <ngx-datatable-column name="Excluir" [flexGrow]="0" [width]="80">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="warn" (click)="removePhone(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Telefone" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["phoneNumber"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Ramal" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["ramal"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Tipo" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["description"]}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>

      </mat-card-content>
    </mat-card>


    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Endereços</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">

        <form [formGroup]="addressForm" autocomplete="off">

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="45" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Address" [formControl]="addressForm.controls['Address']" placeholder="Endereço"
                  maxlength="60" upperCase>
              </mat-form-field>
            </div>
            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="addressNumber" [formControl]="addressForm.controls['AddressNumber']"
                  placeholder="Número" maxlength="10" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="40" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="neighborhood" [formControl]="addressForm.controls['Neighborhood']"
                  placeholder="Bairro" maxlength="50" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="city" [formControl]="addressForm.controls['City']" placeholder="Cidade"
                  maxlength="50" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="25" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select [formControl]="addressForm.controls['stateId']" placeholder="Estado">
                  <mat-option *ngFor="let state of listState" [value]="state.stateId">{{state.stateName}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="25" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="zipCode" [formControl]="addressForm.controls['ZipCode']" placeholder="CEP"
                  upperCase maxlength="14" mask="00000-000">
              </mat-form-field>
            </div>

            <div fxFlex="40" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="complement" [formControl]="addressForm.controls['Complement']"
                  placeholder="Complemento" maxlength="200" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="40" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select [formControl]="addressForm.controls['addressTypeId']" placeholder="Tipo de Endereço">
                  <mat-option>Selecione o Tipo de Endereço</mat-option>
                  <mat-option *ngFor="let addressType of listAddressType" [value]="addressType.addressTypeId">
                    {{addressType.addressTypeDescription}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="20" class="pr-1">
              <button mat-raised-button class="mat-primary" [disabled]="addressForm.invalid" type="button"
                (click)="addAddress()">Adicionar Endereço</button>
            </div>
          </div>
        </form>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="listAddress" [columnMode]="'standard'" [headerHeight]="35"
              [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true" [messages]="{emptyMessage: ''}">
              <ngx-datatable-column name="Excluir" [flexGrow]="0" [width]="80">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="warn" (click)="removeAddress(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Tipo de Endereço" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["addressTypeDescription"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Endereço" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["Address"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Numero" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["AddressNumber"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Bairro" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["Neighborhood"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Cidade" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["City"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Estado" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["stateName"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="CEP" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["ZipCode"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Complemento" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["Complement"]}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Medicamentos</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">

        <form [formGroup]="findMedicinesForm" autocomplete="off">

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="70" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="MedicineFind" placeholder="Busca por EAN, Medicamento ou Princípio Ativo"
                  maxlength="60" upperCase [formControl]="findMedicinesForm.controls['MedicineFind']">
              </mat-form-field>
            </div>
            <div fxFlex="30" class="pr-1">
              <button mat-raised-button class="mat-primary" type="button" [disabled]="findMedicinesForm.invalid"
                (click)="procurarMedicamento()">Procurar
                Medicamento</button>
            </div>
          </div>

        </form>

        <form [formGroup]="medicinesForm" autocomplete="off">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="100" class="pr-1">
              <ngx-datatable class="material" [rows]="listMedicines" [columnMode]="'standard'" [headerHeight]="35"
                [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true" [messages]="{emptyMessage: ''}"
                [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'>

                <ngx-datatable-column name="EAN" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["EAN"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Medicamento" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["MedicineName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Laboratório" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["LabName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Princípio ativo" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["ActivePrincipleName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Apresentação" [width]="600">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Presentation"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Unidade" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["UnitName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Dosagem" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Dosage"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Qtd Estoque" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["QtyStock"]}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" style="margin-top: 24px;">
            <div fxFlex="20" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="EAN" [formControl]="medicinesForm.controls['EAN']" placeholder="EAN" upperCase
                  maxlength="13" mask="0000000000000" [readonly]="true" #ean>
              </mat-form-field>
            </div>
            <div fxFlex="40" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="MedicineName" [formControl]="medicinesForm.controls['MedicineName']"
                  placeholder="Medicamento" upperCase maxlength="100" [readonly]="true">
              </mat-form-field>
            </div>
            <div fxFlex="40" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="LabName" [formControl]="medicinesForm.controls['LabName']"
                  placeholder="Laboratório" upperCase maxlength="100" [readonly]="true">
              </mat-form-field>
            </div>
            <div fxFlex="60" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Presentation" [formControl]="medicinesForm.controls['Presentation']"
                  placeholder="Apresentação" upperCase maxlength="100" [readonly]="true">
              </mat-form-field>
            </div>
            <div fxFlex="40" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="authorizacao" [formControl]="medicinesForm.controls['Authorization']"
                  placeholder="Autorização" upperCase maxlength="20">
              </mat-form-field>
            </div>

            <div fxFlex="20" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="quantidade" [formControl]="medicinesForm.controls['Qty']"
                  placeholder="Quantidade de Caixas Liberadas" upperCase maxlength="20" mask="000" #qty>
              </mat-form-field>
            </div>

            <div fxFlex="20" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="dosagem" [formControl]="medicinesForm.controls['Dosage']"
                  placeholder="Posologia (Quantidade Diária)" upperCase maxlength="20" mask="0000" #dosage>
              </mat-form-field>
            </div>

            <div fxFlex="20" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="crm" [formControl]="medicinesForm.controls['DatePrescription']"
                  placeholder="Data da Receita" type="date" upperCase maxlength="20">
              </mat-form-field>
            </div>

            <div fxFlex="20" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="crm" [formControl]="medicinesForm.controls['CRM']" placeholder="CRM" upperCase
                  maxlength="6" mask="000000" #crm>
              </mat-form-field>
            </div>

            <div fxFlex="20" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select [formControl]="medicinesForm.controls['UF_CRM']" placeholder="UF CRM">
                  <mat-option *ngFor="let state of listState" [value]="state.stateId">{{state.stateName}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div fxFlex="40" class="pr-1">
              <mat-checkbox (click)="changePrev($event)" #chkNovos>Programar Novos Pedidos de Medicamentos
              </mat-checkbox>
            </div>

            <div fxFlex="20" class="pr-1" *ngIf="showPrevision">
              <mat-form-field class="full-width">
                <mat-select placeholder="Quantidade de Envios" #chkQtdEnvios
                  [formControl]="releaseForm.controls['QtdEnvios']">
                  <mat-option value="1">+1 Envio </mat-option>
                  <mat-option value="2">+2 Envios </mat-option>
                  <mat-option value="3">+3 Envios </mat-option>
                  <mat-option value="4">+4 Envios </mat-option>
                  <mat-option value="5">+5 Envios </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="20" class="pr-1" *ngIf="showPrevision">
              <mat-form-field class="full-width">
                <mat-select placeholder="Periodicidade" #periodos [formControl]="releaseForm.controls['Dispensation']">
                  <mat-option value="30">Mensal</mat-option>
                  <mat-option value="60">Bimestral</mat-option>
                  <mat-option value="90">Trimestral</mat-option>
                  <mat-option value="180">Semestral</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <button mat-raised-button class="mat-primary" type="button" [disabled]="medicinesForm.invalid"
                (click)="addPatientMedicine()">Adicionar Medicamento</button>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="100" class="pr-1">
              <ngx-datatable class="material" [rows]="listPatientMedicines" [columnMode]="'standard'"
                [headerHeight]="35" [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true"
                [messages]="{emptyMessage: ''}">
                <ngx-datatable-column name="Excluir" [flexGrow]="0" [width]="80">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="warn" (click)="removeMedicine(row)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="EAN" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["EAN"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Medicamento" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["MedicineName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Laboratório" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["LabName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Apresentação" [width]="450">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Presentation"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Dose diária" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Dosage"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Quantidade em Caixa" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Qty"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Autorização" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Authorization"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Dispensação" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Dispensation"]}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>

        </form>
      </mat-card-content>
    </mat-card>

  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
    <div fxFlex="100" class="dialog-footer">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" [disabled]="pacienteForm.invalid">Gravar</button>

      <span fxFlex></span>
    </div>
  </div>
</form>