<h3>
  {{data.title}}</h3>
<form [formGroup]="projetoForm" autocomplete="off" (ngSubmit)="salvarProjeto()">
  <mat-dialog-content class="corpo">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="Laboratório" [formControl]="projetoForm.controls['laboratoryID']" (change)="obterDados($event, 0, 'evento')"  >
            <mat-option *ngFor="let lab of laboratories" [value]="lab.laboratoryID">{{lab.laboratoryFantasyName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="10" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="otherper" upperCase placeholder="ID Projeto"
            [formControl]="projetoForm.controls['projectId']">
        </mat-form-field>
      </div>

      <div fxFlex="45" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="projectName" upperCase placeholder="Nome do projeto" maxlength="100"
            [formControl]="projetoForm.controls['projectName']">
        </mat-form-field>
      </div>

      <div fxFlex="45" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="projectStockType" upperCase placeholder="Tipo de estoque" maxlength="40"
            [formControl]="projetoForm.controls['projectStockType']">
        </mat-form-field>
      </div>

      <mat-card class="mat-card-background" style="width: 100%;">
        <mat-card-header class="mat-card-titulo2">
          <span class="mat-card-titulo">Produtos do Projeto</span><span class="mat-card-titulo" fxFlex></span>
        </mat-card-header>
        <mat-card-content class="mat-card-body" style="padding-top: 10px">
          <p style="font-weight: bold;"
          *ngIf="((products.length == 0) &&(selectLab))">Não foi localizado nenhum produto para este laboratório</p>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

            <div fxFlex="100" *ngIf="( (products.length >0) &&(selectLab) )">
              <mat-selection-list #listProducts>
                <mat-list-option *ngFor="let p of products" [selected]="p.ProjectProductsId >0" [value]="p.ProductId">
                  {{p.ProductName}}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="mat-card-background" style="width: 100%;">
        <mat-card-header class="mat-card-titulo2">
          <span class="mat-card-titulo">Médicos do Projeto</span><span class="mat-card-titulo" fxFlex></span>
        </mat-card-header>
        <mat-card-content class="mat-card-body" style="padding-top: 10px" >
          <p style="font-weight: bold;"
          *ngIf="((doctors.length == 0) &&(selectLab))">Não foi localizado nenhum médico para este laboratório</p>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">           
            <div fxFlex="100" fxFlex="100" *ngIf="((doctors.length > 0) &&(selectLab))">
              <mat-selection-list #listDoctors>
                <mat-list-option *ngFor="let d of doctors" [selected]="d.projectDoctorId >0" [value]="d.DoctorId">
                  {{d.doctorName}}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>

  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" [disabled]="projetoForm.invalid" >Gravar</button>
      <span fxFlex></span>
    </div>
  </div>
</form>