<h3>
  {{data.title}}</h3>
<form [formGroup]="releaseOrderForm" autocomplete="off">
  <mat-dialog-content class="corpo">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">     
      
      <div fxFlex="60" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="Paciente" [formControl]="releaseOrderForm.controls['patientId']">
            <mat-option *ngFor="let patient of patients" [value]="patient.PatientId">{{patient.PatientName}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="patientAuthorization" [formControl]="releaseOrderForm.controls['patientAuthorization']"
            placeholder="Autorização" maxlength="20" upperCase>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="Dispensação" [formControl]="releaseOrderForm.controls['dispensationId']">
            <mat-option *ngFor="let dispensation of dispensations" [value]="dispensation.dispensationId">{{dispensation.description}} - Dias:{{ dispensation.QtyDays}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
     </div>

     <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">     
        <div fxFlex="70" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="releaseOrderObservation" [formControl]="releaseOrderForm.controls['releaseOrderObservation']" placeholder="Observações"
              maxlength="200" upperCase>
          </mat-form-field>
        </div>
     </div>


  

    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Itens disponíveis</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">
        <form [formGroup]="itensPedido" autocomplete="off" *ngIf="this.data.novo">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="70" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select placeholder="Produto" [formControl]="itensPedido.controls['medicineId']"
                  (change)="getStock($event)">
                  <mat-option *ngFor="let product of listMedicine" [value]="product.MedicineId">{{product.MedicineName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input #estoqueAtual matInput name="dosage" upperCase placeholder="Dose diaria" [disabled]="false"
                  [value]="0" [formControl]="itensPedido.controls['dosage']">
              </mat-form-field>
            </div>

            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput #qtyEdit name="quantity" upperCase mask="0000" placeholder="Quantidade"
                  [formControl]="itensPedido.controls['quantity']">
              </mat-form-field>
            </div>

            

            <div fxFlex="20" class="pr-1">
              <button mat-raised-button class="mat-primary" type="button" (click)="addProduct()"
                [disabled]="itensPedido.invalid" style="width: 100%">Incluir Produto</button>
            </div>
          </div>
        </form>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="itensPed" [columnMode]="'standard'" [headerHeight]="35"
              [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true" [messages]="{emptyMessage: ''}">
              <ngx-datatable-column name="Desativar" [flexGrow]="1" [width]="80" *ngIf="this.data.novo">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="warn" (click)="removeItem(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Produto" [width]="500">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["medicineName"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Dose diaria" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["dosage"]}}
                </ng-template>
              </ngx-datatable-column>              
              <ngx-datatable-column name="Quantidade" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["quantity"]}}
                </ng-template>
              </ngx-datatable-column>              

            </ngx-datatable>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      <span fxFlex></span>
     <button mat-raised-button class="mat-primary" type="button" [disabled]="formValido()"
        (click)="SavePedido()" *ngIf="this.data.novo">Gravar</button>
     <span fxFlex *ngIf="this.data.novo"></span>
    </div>
  </div>
</form>
