<mat-card class="p-0">
  <mat-card-title class="mat-bg-primary m-0">
    <div class="card-title-text">
      <span>Filtros do relatório</span>
      <span fxFlex></span>
    </div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content style="margin-top: 10px;">
    <form [formGroup]="reportForm" autocomplete="off">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
        <div fxFlex="34" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select [formControl]="reportForm.controls['laboratoryID']" placeholder="Laboratório"
              (change)="getRepresentative($event)">
              <mat-option  value="0">Todos os Laboratórios
              </mat-option>
              <mat-option *ngFor="let lab of listLab" [value]="lab.laboratoryID">{{lab.laboratoryFantasyName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        

        <div fxFlex="33" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select placeholder="Representante" [formControl]="reportForm.controls['representativeId']"
              (change)="getDoctor($event)">
              <mat-option  value="0">Todos os Representantes
              </mat-option>
              <mat-option *ngFor="let representative of listRep" [value]="representative.representativeID">
                {{representative.representativeName}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="33" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select placeholder="Médico" [formControl]="reportForm.controls['doctorId']">
              <mat-option  value="0">Todos os Médicos</mat-option>
              <mat-option *ngFor="let doctor of listDoc" [value]="doctor.doctorID">{{doctor.doctorName}}-
                CRM:{{ doctor.crm}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="30" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="pickerInicial" placeholder="Data Inicial" maxlength="10"
              [formControl]="reportForm.controls['dtStart']" readonly  />
            <mat-datepicker-toggle matSuffix [for]="pickerInicial"></mat-datepicker-toggle>
            <mat-datepicker #pickerInicial></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxFlex="30" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="pickerFinal" placeholder="Data Final" maxlength="10"
              [formControl]="reportForm.controls['dtEnd']" readonly />
            <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
            <mat-datepicker #pickerFinal></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxFlex="30" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select placeholder="Tipo de relatório" [formControl]="reportForm.controls['type']">
              <mat-option  value="0">Ambos</mat-option>
              <mat-option value="1">Médico</mat-option>
              <mat-option value="2">Representante</mat-option>
                
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
        <div fxFlex="100" class="mt-1">
          <span fxFlex></span>
          <button mat-raised-button class="mat-primary" (click)="getReport()">Gerar relatório</button>
          <span fxFlex></span>
          <button mat-raised-button color="warn" (click)="clear()">Limpar Filtros</button>
          <span fxFlex></span>
        </div>
      </div>
    </form>

    <ngx-datatable class="material" [rows]="listReport" [columnMode]="'standard'" [headerHeight]="35" [footerHeight]="0"
      [rowHeight]="'35'" [scrollbarH]="true" [messages]="{emptyMessage: ''}">

      <ngx-datatable-column name="Id Pedido" [width]="80">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["OrderDoctorID"]}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="SKU" [width]="80">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["sku"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Produto" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["ProductName"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Qtde" [width]="80">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["Qty"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Data de Envio" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["OrderDoctorDateSend"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Laboratório" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["LaboratoryFantasyName"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Representante" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["RepresentativeName"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Médico" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["DoctorName"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Logradouro" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["Address"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Número" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["AddressNumber"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Cidade" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["City"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Bairro" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["Neighborhood"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="CEP" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["ZipCode"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Complemento" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["Complement"]}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Estdo" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["StateName"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["Status"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipo" [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row["Type"]}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" style="margin-top: 10px;">
      <button mat-raised-button class="mat-primary" (click)="ExportExportar()"
      [disabled]="(listReport.length==0)">Exportar para Excel</button>
    </div>

  </mat-card-content>


</mat-card>