<mat-toolbar class="topbar" style="height: 40px;">
  <!-- Sidenav toggle button -->
  <button mat-icon-button id="sidenavToggle" (click)="toggleSidenav()" matTooltip="Exibir/Ocultar Menu">
    <mat-icon>menu</mat-icon>
  </button>
  
  <!-- Sidenav toggle collapse -->
  <button *ngIf="sidenav.opened" mat-icon-button id="collapseToggle" fxHide.lt-md="true" (click)="toggleCollapse()" matTooltip="Recolher"
    class="toggle-collapsed">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span fxFlex></span>

  <button mat-icon-button id="schemeToggle" [style.overflow]="'visible'" matTooltip="Temas" [matMenuTriggerFor]="themeMenu"
    class="topbar-button-right">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #themeMenu="matMenu">
    <mat-grid-list class="theme-list" cols="2" rowHeight="48px">
      <mat-grid-tile *ngFor="let theme of egretThemes" (click)="changeTheme(theme)">
        <div mat-menu-item [title]="theme.name">
          <div [style.background]="theme.baseColor" class="egret-swatch"></div>
          <mat-icon class="active-icon" *ngIf="theme.isActive">check</mat-icon>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-menu>
  <!-- Notification toggle button -->
  <!-- <button mat-icon-button matTooltip="Notifications" (click)="toggleNotific()" [style.overflow]="'visible'" class="topbar-button-right">
    <mat-icon>notifications</mat-icon>
    <span class="notification-number mat-bg-warn">3</span>
  </button> -->
  <!-- Top left user menu -->
  <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="topbar-button-right img-button">
    <!-- <img src="{{usuario.Avatar}}" alt=""> -->
  </button>

  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item [routerLink]="['/perfil/geral']">
      <mat-icon>account_box</mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-menu-item [routerLink]="['/perfil/configuracoes']">
      <mat-icon>settings</mat-icon>
      <span>Configurações do Perfil</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Desbilitar alertas</span>
    </button>
    <button mat-menu-item [routerLink]="['/sessao/entrar']">
      <mat-icon>exit_to_app</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>