<h3>
  {{data.title}}</h3>
<form [formGroup]="clientForm" (ngSubmit)="GravarCliente()" autocomplete="off">
  <mat-dialog-content class="corpo">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="clientName" [formControl]="clientForm.controls['ClientName']" placeholder="Razão Social"
            maxlength="50" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="clientFantasyName" [formControl]="clientForm.controls['ClientFantasyName']"
            placeholder="Nome Fantasia" maxlength="50" upperCase>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="cnpj" [formControl]="clientForm.controls['CNPJ']" placeholder="CNPJ" maxlength="18"
            mask="00.000.000/0000-00" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="address" [formControl]="clientForm.controls['Address']" placeholder="Logradouro"
            maxlength="60" upperCase>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="addressNumber" [formControl]="clientForm.controls['AddressNumber']" placeholder="Número"
            maxlength="10" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="neighborhood" [formControl]="clientForm.controls['Neighborhood']" placeholder="Bairro"
            maxlength="60" upperCase>
        </mat-form-field>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="city" [formControl]="clientForm.controls['City']" placeholder="Cidade" maxlength="60"
            upperCase>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="zipCode" [formControl]="clientForm.controls['ZipCode']" placeholder="CEP" maxlength="9"
            mask="00000-000" upperCase>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="clientForm.controls['StateId']" placeholder="Estado">
            <mat-option>Prazo de pagamento</mat-option>
            <mat-option *ngFor="let estado of linhasStates" [value]="estado.stateId">{{estado.stateName}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="responsibleContact" [formControl]="clientForm.controls['ResponsibleContact']"
            placeholder="Contato do Responsável" maxlength="50" upperCase>
        </mat-form-field>
      </div>
    </div>    

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="ocuppation" [formControl]="clientForm.controls['Occupation']" placeholder="Cargo"
            maxlength="60" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="email" [formControl]="clientForm.controls['Email']" placeholder="Email" maxlength="60"
            upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="phone" [formControl]="clientForm.controls['Phone']" placeholder="Telefone"
            maxlength="60" upperCase mask="(00)000000000">
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="ramal" [formControl]="clientForm.controls['Ramal']" placeholder="Ramal" maxlength="10"
            upperCase>
        </mat-form-field>
      </div>


      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="cellphone" [formControl]="clientForm.controls['CellPhone']" placeholder="Celular"
            maxlength="60" upperCase mask="(00)000000000">
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="clientLogin" [formControl]="clientForm.controls['ClientLogin']" placeholder="Login"
            maxlength="60" upperCase>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput type="password" name="clientPassword" [formControl]="clientForm.controls['ClientPassword']"
            placeholder="Senha" maxlength="20" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput type="password" name="confirmPassword" [formControl]="clientForm.controls['ConfirmPassword']"
            placeholder="Confirma Senha" maxlength="20" upperCase>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="clientForm.controls['ClientTypeId']" placeholder="Tipo de Cliente">
            <mat-option>Selecione o Tipo de Cliente</mat-option>
            <mat-option *ngFor="let clientType of linhasClientTypes" [value]="clientType.clientTypeId">
              {{clientType.clientTypeDescription}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="clientForm.controls['ClientStatus']" placeholder="Status do Cliente">
            <mat-option>Selecione o Status do Cliente</mat-option>
            <mat-option *ngFor="let linhaStatus of linhasStatus" [value]="linhaStatus.statusId">
              {{linhaStatus.statusDescription}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="comments" [formControl]="clientForm.controls['Comments']" placeholder="Observações"
            maxlength="200" upperCase>
        </mat-form-field>
      </div>
    </div>


    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Outros Contatos</span><span class="mat-card-titulo" fxFlex></span>
        <!-- <button mat-icon-button type="button" (click)="addClientContact()">
          <mat-icon>add</mat-icon>
        </button> -->
      </mat-card-header>
      <form [formGroup]="contatosForm" autocomplete="off">
        <mat-card-content class="mat-card-body">

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="nome" [formControl]="contatosForm.controls['ContactName']" placeholder="Nome"
                  maxlength="40" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="emailContato" [formControl]="contatosForm.controls['Email']"
                  placeholder="Email/login" maxlength="100" upperCase>
              </mat-form-field>
            </div>

          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Senha" [formControl]="contatosForm.controls['Password']" placeholder="Senha"
                  maxlength="20" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="ConfirmaSenha" [formControl]="contatosForm.controls['Confirmpassword']"
                  placeholder="Confirmar senha" maxlength="20" upperCase>
              </mat-form-field>

            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Cargo" [formControl]="contatosForm.controls['Occupation']" placeholder="Cargo"
                  maxlength="40" upperCase>
              </mat-form-field>
            </div>


            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="phone" [formControl]="contatosForm.controls['Phone']" placeholder="Telefone"
                  maxlength="13" mask="(00)000000000" upperCase>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Ramal" [formControl]="contatosForm.controls['Ramal']" placeholder="Ramal"
                  maxlength="8" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select [formControl]="contatosForm.controls['ContactTypeId']" placeholder="Tipo de Contato">
                  <mat-option>Selecione o Tipo de Contato</mat-option>
                  <mat-option *ngFor="let contactType of listContactType" [value]="contactType.contactTypeId">
                    {{contactType.contactDescription}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Celular" [formControl]="contatosForm.controls['CellPhone']" placeholder="Celular"
                  maxlength="14" upperCase mask="(00)000000000">
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <button mat-raised-button class="mat-primary" [disabled]="contatosForm.invalid" type="button"
                (click)="addClientContact()">Adic.
                Contato</button>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="100" class="pr-1">
              <ngx-datatable class="material fullscreen" [rows]="ListClientsContacts" [columnMode]="'standard'"
                [headerHeight]="35" [footerHeight]="0" [rowHeight]="'35'" [messages]="{emptyMessage: ''}">
                <ngx-datatable-column name="Desativar" [width]="60" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="warn" (click)="deleteContact(row)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Nome" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["ContactName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Cargo" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Occupation"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Email"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Telefone" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Phone"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Ramal" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Ramal"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Tipo" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["ContactDescription"]}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>

        </mat-card-content>
      </form>
    </mat-card>



  </mat-dialog-content>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <button mat-raised-button class="mat-primary" [disabled]="clientForm.invalid">Gravar</button>
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
    </div>
  </div>
</form>
