<div>
  <mat-toolbar color="primary" style="height: 40px;" >
    <div fxFlex class="search-bar" style="height: 80%" *ngIf="(MostrarBarraBusca===true)">
      <form class="top-search-form" [formGroup]="buscarForm" >
        <mat-icon role="img" style="cursor:pointer;" (click)="Pesquisar()">search</mat-icon>

        <input autofocus="true" placeholder="Procurar" type="text" style="height: 95%; padding: 0 0 0 10px;"
          [formControl]="buscarForm.controls['CampoDeBusca']" (keyup.enter)="Pesquisar()">
      </form>
    </div>
    <span fxFlex *ngIf="(MostrarBarraBusca===false)">Pedidos liberados</span>
    <button mat-icon-button [matMenuTriggerFor]="ColunasMenu" >
      <mat-icon>filter_list</mat-icon>
    </button>

    <mat-menu #ColunasMenu="matMenu">
      <button mat-menu-item *ngFor='let coluna of AuxColunas' (click)="$event.stopPropagation();">
        <mat-checkbox [checked]='true' (click)='Alternar(coluna)'></mat-checkbox>{{" "+coluna.Titulo}}
      </button>
      <button mat-menu-item>
        <mat-icon>close</mat-icon>Fechar
      </button>
    </mat-menu>

    
  </mat-toolbar>
  <ngx-datatable class="material striped" 
     [columnMode]="'force'" 
     [headerHeight]="50" 
     [footerHeight]="50" 
     [rowHeight]="'auto'"
     [limit]="10" 
     [rows]="Linhas" 
     [messages]="{emptyMessage: 'Nenhuma informação encontrada'}" 
     [scrollbarH]="true">
    <!-- [prop]="coluna.Propriedade" -->

    <div *ngFor="let coluna of Colunas">
      <ngx-datatable-column [name]="coluna.Titulo" [prop]="coluna.Propriedade">
        <ng-template let-row="row" ngx-datatable-cell-template *ngIf="(coluna.Imagem == null || coluna.Imagem == false)">
          {{row[coluna.Propriedade]}}
        </ng-template>

        <ng-template let-row="row" ngx-datatable-cell-template *ngIf="coluna.Imagem==true">
          <div style="text-align: center;">            
              <mat-icon (click)="openPopup(row[coluna.Propriedade])">image</mat-icon>              
          </div>
          </ng-template>        
      </ngx-datatable-column>
    </div>

    <div *ngIf="(BtnEditar===true)">
      <ngx-datatable-column name="Confirmar" [flexGrow]="1" [width]="60">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button *ngIf="(BtnEditar ===true)" mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="Editar(row)">
            <mat-icon>done</mat-icon>
          </button>          
        </ng-template>
      </ngx-datatable-column>
    </div>

    <div *ngIf="(BtnDeletar===true)">
      <ngx-datatable-column name="Desativar" [flexGrow]="1" [width]="60">
        <ng-template let-row="row" ngx-datatable-cell-template>          
          <button *ngIf="(BtnDeletar ===true)" mat-icon-button mat-sm-button color="warn" (click)="Excluir(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </div>    
  </ngx-datatable>
</div>
<!-- <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
  <div fxFlex="100" class="mt-1" style="padding-left: 10px;">
    <button mat-raised-button class="mat-primary" (click)="Exportar()">Exportar dados</button>
    <span fxFlex></span>
  </div>
</div> -->