<mat-dialog-content class="corpo">
  <mat-card class="mat-card-background">
    <mat-card-header class="mat-card-titulo2">
      <span class="mat-card-titulo" style="font-size:20px;font-weight: bold">Liberação de Pedidos</span><span
        class="mat-card-titulo" fxFlex></span>
    </mat-card-header>
    <mat-card-content class="mat-card-body" style="padding-top: 10px">

      <form [formGroup]="confirmReleaseOrderForm" autocomplete="off">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="60" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="patientName" placeholder="Paciente" maxlength="50" upperCase
                [formControl]="confirmReleaseOrderForm.controls['patientName']">
            </mat-form-field>
          </div>

          <div fxFlex="20" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="patientAuthorization" placeholder="Autorização" maxlength="50" upperCase
                [formControl]="confirmReleaseOrderForm.controls['patientAuthorization']">
            </mat-form-field>
          </div>
          <div fxFlex="20" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="patientName" placeholder="Paciente" maxlength="50" upperCase
                [formControl]="confirmReleaseOrderForm.controls['patientName']">
            </mat-form-field>
          </div>

          <div fxFlex="100" class="pr-1">
            <mat-form-field class="full-width">
              <mat-select [formControl]="addressForm.controls['PatientAddressesId']" placeholder="Endereços"
                (selectionChange)="selectAddress($event)">
                <mat-option>Selecione o Endereço</mat-option>
                <mat-option *ngFor="let address of listAddress" [value]="address.PatientAddressesId">
                  {{address.ZipCode}} - {{address.Address}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="address" placeholder="Logradouro" maxlength="60" upperCase
                [formControl]="confirmReleaseOrderAddressForm.controls['address']">
            </mat-form-field>
          </div>

          <div fxFlex="15" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="number" placeholder="Número" maxlength="10" upperCase
                [formControl]="confirmReleaseOrderAddressForm.controls['addressNumber']">
            </mat-form-field>
          </div>

          <div fxFlex="35" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="complement" placeholder="Complemento" maxlength="60" upperCase
                [formControl]="confirmReleaseOrderAddressForm.controls['complement']">
            </mat-form-field>
          </div>

          <div fxFlex="40" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="city" placeholder="Cidade" maxlength="50" upperCase
                [formControl]="confirmReleaseOrderAddressForm.controls['city']">
            </mat-form-field>
          </div>

          <div fxFlex="40" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="neighborhood" placeholder="Bairro" maxlength="50" upperCase
                [formControl]="confirmReleaseOrderAddressForm.controls['neighborhood']">
            </mat-form-field>
          </div>

          <div fxFlex="20" class="pr-1">
            <mat-form-field class="full-width">
              <mat-select placeholder="Estado" [formControl]="confirmReleaseOrderAddressForm.controls['stateId']">
                <mat-option *ngFor="let estado of linhasStates" [value]="estado.stateId">{{estado.stateName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="15" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="zipCode" placeholder="CEP" maxlength="9" upperCase mask="00000-000"
                [formControl]="confirmReleaseOrderAddressForm.controls['zipCode']">
            </mat-form-field>
          </div>

          <!-- <div fxFlex="20" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="phoneComercial" placeholder="Telefone Comercial" maxlength="16" upperCase
                mask="(00)00000000" [formControl]="confirmReleaseOrderAddressForm.controls['phoneComercial']">
            </mat-form-field>
          </div>

          <div fxFlex="15" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="ramal" placeholder="Ramal" maxlength="10" upperCase
                [formControl]="confirmReleaseOrderForm.controls['ramal']">
            </mat-form-field>
          </div>

          <div fxFlex="20" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="cellPhone" placeholder="Telefone Celular" maxlength="14" upperCase
                mask="(00)000000000" [formControl]="confirmReleaseOrderForm.controls['cellPhone']">
            </mat-form-field>
          </div>
          <div fxFlex="100" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="comments" placeholder="Observações" maxlength="200" upperCase
                [formControl]="confirmReleaseOrderForm.controls['comments']">
            </mat-form-field>
          </div> -->
        </div>          
        
      </form>
    </mat-card-content>


    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
      <div fxFlex="33" class="mt-1">
        <span fxFlex></span>
        
          <button mat-raised-button color="warn" type="button" (click)="editAddress()"
          *ngIf="(!confirmReleaseOrderAddressForm.enabled)" 
          >Editar</button>
        
        <button mat-raised-button color="warn" type="button" (click)="cancelEdit()"
        *ngIf="(confirmReleaseOrderAddressForm.enabled)">Cancelar</button>
        <span fxFlex></span>
      </div>
      <div fxFlex="33" class="mt-1">
        <span fxFlex></span>
        <button mat-raised-button color="primary" type="button" (click)="newAddress()"
          [disabled]="confirmReleaseOrderAddressForm.enabled">
          Novo</button>
        <span fxFlex></span>
      </div>
      <div fxFlex="33" class="mt-1">
        <span fxFlex></span>
        <button mat-raised-button color="primary" type="button" (click)="saveAddress()">Salvar</button>
        <span fxFlex></span>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
        <div fxFlex="90" class="pr-1">
          <ngx-datatable class="material" [rows]="listPhones" [columnMode]="'standard'" [headerHeight]="35"
            [footerHeight]="0" [rowHeight]="'35'" [messages]="{emptyMessage: ''}">
            <ngx-datatable-column name="Telefone" [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["phoneNumber"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ramal" [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["ramal"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Tipo" [width]="250">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["description"]}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    <span fxFle style="height: 15px;"></span>
  </mat-card>
  <mat-card class="mat-card-background">
    <mat-card-header class="mat-card-titulo2">
      <span class="mat-card-titulo">Itens disponíveis</span><span class="mat-card-titulo" fxFlex></span>
    </mat-card-header>
    <mat-card-content class="mat-card-body" style="padding-top: 10px">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
        <div fxFlex="100" class="pr-1">
          <ngx-datatable class="material" [rows]="listReleaseOrdem" [columnMode]="'standard'" [headerHeight]="35"
            [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true"
            [messages]="{emptyMessage: 'Não há itens disponíveis'}">
            <ngx-datatable-column name="Medicamento" [width]="350">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["medicineName"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Dosagem" [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["dosage"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Quantidade" [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["quantity"]}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
  <div fxFlex="100" class="mt-1">
    <span fxFlex></span>
    <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
    <span fxFlex></span>
    <button mat-raised-button class="mat-primary" type="button" (click)="saveOrder()">Aprovar</button>
    <span fxFlex></span>
  </div>
</div>