  <mat-card class="mat-card-background">
    <mat-card-header class="mat-card-titulo2">
      <span class="mat-card-titulo" style="font-size:20px;font-weight: bold">Pedido</span><span class="mat-card-titulo"
        fxFlex></span>
    </mat-card-header>
    <mat-card-content class="mat-card-body" style="padding-top: 10px">

      <form [formGroup]="doctorForm" autocomplete="off">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="doctorName" placeholder="Nome do Médico" maxlength="50" upperCase
                [formControl]="doctorForm.controls['doctorName']">
            </mat-form-field>
          </div>

          <div fxFlex="15" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="crm" placeholder="CRM" maxlength="50" upperCase mask="00000000"
                [formControl]="doctorForm.controls['crm']">
            </mat-form-field>
          </div>

          <div fxFlex="15" class="pr-1">
            <mat-form-field class="full-width">
              <mat-select placeholder="UF CRM" [formControl]="doctorForm.controls['uf_crm']">
                <mat-option *ngFor="let estado of linhasStates" [value]="estado.stateId">{{estado.stateName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="20" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="cpf" placeholder="CPF" maxlength="14" mask="000.000.000-00" upperCase
                [formControl]="doctorForm.controls['cpf']">
            </mat-form-field>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="address" placeholder="Logradouro" maxlength="60" upperCase
                [formControl]="doctorForm.controls['address']">
            </mat-form-field>
          </div>

          <div fxFlex="15" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="number" placeholder="Número" maxlength="10" upperCase
                [formControl]="doctorForm.controls['number']">
            </mat-form-field>
          </div>

          <div fxFlex="35" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="complement" placeholder="Complemento" maxlength="60" upperCase
                [formControl]="doctorForm.controls['complement']">
            </mat-form-field>
          </div>

          <div fxFlex="40" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="city" placeholder="Cidade" maxlength="50" upperCase
                [formControl]="doctorForm.controls['city']">
            </mat-form-field>
          </div>

          <div fxFlex="40" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="neighborhood" placeholder="Bairro" maxlength="50" upperCase
                [formControl]="doctorForm.controls['neighborhood']">
            </mat-form-field>
          </div>

          <div fxFlex="20" class="pr-1">
            <mat-form-field class="full-width">
              <mat-select placeholder="Estado" [formControl]="doctorForm.controls['stateId']">
                <mat-option *ngFor="let estado of linhasStates" [value]="estado.stateId">{{estado.stateName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="15" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="zipCode" placeholder="CEP" maxlength="9" upperCase mask="00000-000"
                [formControl]="doctorForm.controls['zipCode']">
            </mat-form-field>
          </div>

          <div fxFlex="20" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="phoneComercial" placeholder="Telefone Comercial" maxlength="16" upperCase
                mask="(00)00000000" [formControl]="doctorForm.controls['phoneComercial']">
            </mat-form-field>
          </div>

          <div fxFlex="15" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="ramal" placeholder="Ramal" maxlength="10" upperCase
                [formControl]="doctorForm.controls['ramal']">
            </mat-form-field>
          </div>

          <div fxFlex="20" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="cellPhone" placeholder="Telefone Celular" maxlength="14" upperCase
                mask="(00)000000000" [formControl]="doctorForm.controls['cellPhone']">
            </mat-form-field>
          </div>
          <div fxFlex="100" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="comments" placeholder="Observações" maxlength="200" upperCase
                [formControl]="doctorForm.controls['comments']">
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
      <div fxFlex="100" class="mt-1">
        <span fxFlex></span>
        <button mat-raised-button color="warn" type="button" (click)="edit()">Editar</button>
        <span fxFlex></span>
        <button mat-raised-button class="mat-primary" type="button" (click)="SaveDoctor()">Confirmar</button>
        <span fxFlex></span>
      </div>
    </div>
    <span fxFle style="height: 10px;"></span>

    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Itens disponíveis</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="listItens" [columnMode]="'standard'" [headerHeight]="35"
              [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true"
              [messages]="{emptyMessage: 'Não há itens disponíveis'}">
              <ngx-datatable-column name="Produto" [width]="350">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["ProductName"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Quantidade" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["Qty"]}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Periodicidade" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["FrequenceDesc"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Data de envio" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["DateToSend"]|date :"dd/MM/yyyy"}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>

      </mat-card-content>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
        <div fxFlex="100" class="mt-1">
          <span fxFlex></span>
          <button mat-raised-button color="warn" type="button">Cancelar</button>
          <span fxFlex></span>
          <button mat-raised-button class="mat-primary" type="button" (click)="SaveOrder()">Aprovar</button>
          <span fxFlex></span>
        </div>
      </div>
    </mat-card>
    <span fxFle style="height: 10px;"></span>

  </mat-card>
