<h3>
  {{data.title}}</h3>
<form [formGroup]="releaseOrderForm" autocomplete="off">

  <mat-dialog-content class="corpo">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="70" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="Paciente" [formControl]="releaseOrderForm.controls['patientId']">
            <mat-option *ngFor="let patient of patients" [value]="patient.PatientId">{{patient.PatientName}} - CPF:{{patient.CPF}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="releaseOrderForm.controls['Dispensation']" placeholder="Prazo em dias">
            <mat-option>Selecione a forma de dispensação</mat-option>
            <mat-option value="30">30 Dias </mat-option>
            <mat-option value="60">60 Dias </mat-option>
            <mat-option value="90">90 Dias </mat-option>
            <mat-option value="120">120 Dias </mat-option>
            <mat-option value="150">150 Dias </mat-option>
            <mat-option value="180">180 Dias </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" 
    style="margin-top: 24px;">
    <div fxFlex="40" class="pr-1" *ngIf="this.data.novo">
      <mat-checkbox (click)="changePrev($event)" #chkNovos >Programar Novos Pedidos de Medicamentos
      </mat-checkbox>
    </div>

    <div fxFlex="20" class="pr-1" *ngIf="showPrevision">
      <mat-form-field class="full-width">
        <mat-select  placeholder="Quantidade de Envios" #chkQtdEnvios [formControl]="releaseOrderForm.controls['QtdEnvios']">
          <mat-option value="1">+1 Envio </mat-option>
          <mat-option value="2">+2 Envios </mat-option>
          <mat-option value="3">+3 Envios </mat-option>
          <mat-option value="4">+4 Envios </mat-option>
          <mat-option value="5">+5 Envios </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="20" class="pr-1" *ngIf="showPrevision">
      <mat-form-field class="full-width">
        <mat-select placeholder="Periodicidade" #periodos [formControl]="releaseOrderForm.controls['Dispensation']">
          <mat-option value="30">Mensal</mat-option>
          <mat-option value="60">Bimestral</mat-option>
          <mat-option value="90">Trimestral</mat-option>
          <mat-option value="180">Semestral</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>    

    <form [formGroup]="findMedicinesForm" autocomplete="off">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" *ngIf="this.data.novo">
        <div fxFlex="100" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="MedicineFind" placeholder="Busca por EAN, Medicamento ou Princípio Ativo" maxlength="60"
             upperCase
              [formControl]="findMedicinesForm.controls['MedicineFind']">
          </mat-form-field>
        </div>
        <div fxFlex="30" class="pr-1">
          <button mat-raised-button class="mat-primary" type="button" (click)="procurarMedicamento()" [disabled] ="findMedicinesForm.invalid">Procurar
            Medicamento</button>
        </div>
      </div>

    </form>

    <form [formGroup]="medicinesForm" autocomplete="off">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" *ngIf="this.data.novo">
        <div fxFlex="100" class="pr-1">
          <!-- <ngx-datatable class="material" [rows]="listMedicines" [columnMode]="'standard'" [headerHeight]="35"
            [footerHeight]="0" [rowHeight]="'35'" [scrollbarV]="true" [messages]="{emptyMessage: ''}"
            [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'> -->
            <ngx-datatable class="material" [rows]="listMedicines" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="50"  [sorts]="[{prop: 'name', dir: 'desc'}]"
            [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'[messages]="{emptyMessage: ''}"
            itemsPerPage = "10" [scrollbarH]="true">
            <ngx-datatable-column name="EAN" [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["EAN"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Medicamento" [width]="300">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["MedicineName"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Laboratório" [width]="300">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["LabName"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Princípio ativo" [width]="300">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["ActivePrincipleName"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Apresentação" [width]="600">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["Presentation"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Unidade" [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["UnitName"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Dosagem" [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["Dosage"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Estoque" [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["QtyStock"]}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" *ngIf = "this.data.novo">
        <div fxFlex="20" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="EAN" [formControl]="medicinesForm.controls['EAN']" placeholder="EAN" upperCase
              maxlength="13" mask="0000000000000" [readonly]="true" #ean>
          </mat-form-field>
        </div>
        <div fxFlex="40" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="MedicineName" [formControl]="medicinesForm.controls['MedicineName']"
              placeholder="Medicamento" upperCase maxlength="100" [readonly]="true">
          </mat-form-field>
        </div>
        <div fxFlex="40" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="LabName" [formControl]="medicinesForm.controls['LabName']"
              placeholder="Laboratório" upperCase maxlength="100" [readonly]="true">
          </mat-form-field>
        </div>
        <div fxFlex="50" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="Presentation" [formControl]="medicinesForm.controls['Presentation']"
              placeholder="Apresentação" upperCase maxlength="100" [readonly]="true">
          </mat-form-field>
        </div>
        <div fxFlex="50" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="authorizacao" [formControl]="medicinesForm.controls['Authorization']"
              placeholder="Autorização" upperCase maxlength="20" [readonly]="!this.data.novo">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" *ngIf = "this.data.novo">
        <div fxFlex="25" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="crm" [formControl]="medicinesForm.controls['Crm']" placeholder="CRM" upperCase
              maxlength="20" mask="000000" [readonly]="!this.data.novo" #crm>
          </mat-form-field>
        </div>

        <div fxFlex="25" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select [formControl]="medicinesForm.controls['StateId']" placeholder="UF CRM" [disabled]="!this.data.novo">
              <mat-option *ngFor="let state of listState" [value]="state.stateId">{{state.stateUF}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="25" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="quantidade" [formControl]="medicinesForm.controls['Qty']" placeholder="Quantidade"
              upperCase maxlength="20" mask="000" [readonly]="!this.data.novo" #qty>
          </mat-form-field>
        </div>

        <div fxFlex="25" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="dosagem" [formControl]="medicinesForm.controls['Dosage']" placeholder="Dose diária"
              upperCase maxlength="20" mask="0000" [readonly]="!this.data.novo" #dosage>
          </mat-form-field>
        </div>

        <div fxFlex="70" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="releaseOrderObservation"
              [formControl]="medicinesForm.controls['ReleaseOrderObservation']" placeholder="Observações"
              maxlength="200" upperCase [readonly]="!this.data.novo">
          </mat-form-field>
        </div>

        <div fxFlex="30" class="pr-1">
          <button mat-raised-button class="mat-primary" [disabled]="medicinesForm.invalid" type="button"
            (click)="addPatientMedicine()">Adicionar Medicamento</button>
        </div>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
        <div fxFlex="100" class="pr-1">
          <ngx-datatable class="material" [rows]="listPatientMedicines" [columnMode]="'standard'" [headerHeight]="35"
            [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true" [messages]="{emptyMessage: ''}">
            <ngx-datatable-column name="Excluir" [width]="100" *ngIf ="this.data.novo" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="warn" (click)="removeMedicine(row)">
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="EAN" [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["EAN"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Medicamento" [width]="300">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["MedicineName"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Laboratório" [width]="300">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["LabName"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Apresentação" [width]="450">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["Presentation"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="CRM" [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["Crm"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="UF CRM" [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["UFCRM"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Dose diária" [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["Dosage"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Quantidade" [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["Qty"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Autorização" [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["Authorization"]}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>

    </form>
  </mat-dialog-content>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" type="button" [disabled]="formValido()" (click)="SavePedido()"
        *ngIf="this.data.novo">Gravar</button>
      <span fxFlex *ngIf="this.data.novo"></span>
    </div>
  </div>

</form>