<h2 matDialogTitle>
  {{data.title}}</h2>
<form [formGroup]="addressForm"  (ngSubmit)="addAddress()">
  <mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap"> 
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Address" [formControl]="addressForm.controls['address']" placeholder="Endereço"
            maxlength="60" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="addressNumber" [formControl]="addressForm.controls['addressNumber']"
            placeholder="Número" maxlength="10" upperCase>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="city" [formControl]="addressForm.controls['city']" placeholder="Cidade" maxlength="50"
            upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="neighborhood" [formControl]="addressForm.controls['neighborhood']" placeholder="Bairro"
            maxlength="50" upperCase>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="addressForm.controls['stateId']" placeholder="Estado">
            <mat-option>Selecione o Estado</mat-option>
            <mat-option *ngFor="let state of listState" [value]="state.stateId">{{state.stateName}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="zipCode" [formControl]="addressForm.controls['zipCode']" placeholder="CEP" upperCase
            maxlength="14" mask="00000-000">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="complement" [formControl]="addressForm.controls['complement']" placeholder="Complemento"
            maxlength="200" upperCase>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="addressForm.controls['addressTypeId']" placeholder="Tipo de Endereço">
            <mat-option>Selecione o Tipo de Endereço</mat-option>
            <mat-option *ngFor="let addressType of listAddressType" [value]="addressType.addressTypeId">
              {{addressType.addressTypeDescription}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>     
    </div>
  </mat-dialog-content>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="100" class="mt-1">
        <button mat-raised-button class="mat-primary" [disabled]="addressForm.invalid">Gravar</button>
        <span fxFlex></span>
        <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      </div>
    </div>  
</form>
