<h3>
  {{data.title}}</h3>

<form autocomplete="off" [formGroup]="formInteracao">
  <mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="80" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="formInteracao.controls['patientId']" placeholder="Paciente" required
            (selectionChange)="trocaPaciente($event)">
            <mat-option *ngFor="let patient of listPatients" [value]="patient.PatientId">{{patient.PatientName}} -
              CPF:{{patient.CPF}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <form [formGroup]="findMedicinesForm" autocomplete="off" *ngIf="this.data.novo">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
        <div fxFlex="70" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="MedicineFind" placeholder="Busca por EAN, Medicamento ou Princípio Ativo"
              maxlength="60" upperCase [formControl]="findMedicinesForm.controls['MedicineFind']">
          </mat-form-field>
        </div>
        <div fxFlex="30" class="pr-1">
          <button mat-raised-button class="mat-primary" type="button" (click)="procurarMedicamento()"
            [disabled]="findMedicinesForm.invalid">Procurar Medicamento</button>
        </div>
      </div>

    </form>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" *ngIf="this.data.novo">
      <div fxFlex="100" class="pr-1">
        <ngx-datatable class="material" [rows]="listMedicinesFind" [columnMode]="'standard'" [headerHeight]="35"
          [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true" [messages]="{emptyMessage: ''}">

          <ngx-datatable-column name="EAN" [width]="150">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row["EAN"]}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Medicamento" [width]="150">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row["MedicineName"]}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Laboratório" [width]="150">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row["LabName"]}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Princípio ativo" [width]="150">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row["ActivePrincipleName"]}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Adicionar" [width]="150">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-icon-button mat-sm-button color="warn" (click)="addMedicine(row)">Adicionar</button>

            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>




    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Produtos da interação medimentosa</span><span class="mat-card-titulo"
          fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="listMedicines" [columnMode]="'standard'" [footerHeight]="0"
              [scrollbarH]="true" [messages]="{emptyMessage: ''}" [rowHeight]="'auto'" [headerHeight]="50">

              <ngx-datatable-column name="EAN" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["EAN"]}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Medicamento" [width]="300">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["MedicineName"]}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Princípio Ativo" [width]="300">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["ActivePrincipleName"]}}
                </ng-template>
              </ngx-datatable-column>


              <ngx-datatable-column name="Excluir" [width]="80" *ngIf="this.data.novo">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="warn" (click)="delMedicine(row)">Excluir</button>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>

          </div>
        </div>
      </mat-card-content>
    </mat-card>


    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Resultado</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="listResult" [columnMode]="'standard'" [footerHeight]="0"
              [scrollbarH]="true" [messages]="{emptyMessage: ''}" [rowHeight]="'auto'" [headerHeight]="50">

              <ngx-datatable-column name="Severidade" [width]="80">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["Severity"]}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="EAN 1" [width]="80">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["ean1"]}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Medicamento 1" [width]="200">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["Medicine1"]}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="EAN 2" [width]="80">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["ean2"]}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Medicamento 2" [width]="200">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["Medicine2"]}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Interação" [width]="400">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["Result"]}}
                </ng-template>
              </ngx-datatable-column>



            </ngx-datatable>

          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Ações</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Ações" rows="4" [formControl]="interacao.controls['Comments']" readonly
                *ngIf="!data.novo"></textarea>
              <textarea matInput placeholder="Ações" rows="4" [formControl]="interacao.controls['Comments']"
                *ngIf="data.novo"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" style="margin-bottom: 10px;">
          <div fxFlex="100" class="pr-1">
            <span fxFlex>
            </span>
            <button mat-raised-button class="mat-primary" type="button" (click)="saveActions()"
              [disabled]="(this.listResult.length ==0 || interacao.invalid || !this.data.novo)">Gravar Ações</button>
            <span fxFlex>
            </span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>



  </mat-dialog-content>
</form>


<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
  <div fxFlex="100" class="dialog-footer">
    <span fxFlex></span>
    <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Fechar</button>
    <span fxFlex></span>
    <button mat-raised-button class="mat-primary" [disabled]="(formInteracao.invalid||controle)"
      (click)="SaveInteraction()" *ngIf="this.data.novo">Gerar interação</button>
    <span fxFlex *ngIf="this.data.novo"></span>

  </div>
</div>