<h3>
  {{data.title}}</h3>
<form [formGroup]="pedidoForm" autocomplete="off">
  <mat-dialog-content class="corpo">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

      <div fxFlex="60" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="Representante" [formControl]="pedidoForm.controls['representativeID']">
            <mat-option *ngFor="let representative of representatives" [value]="representative.representativeID">
              {{representative.representativeName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="pickerInicial" placeholder="Vigência Inicial" [min]="minDate" maxlength="10"
            [formControl]="pedidoForm.controls['startValidity']" readonly>
          <mat-datepicker-toggle matSuffix [for]="pickerInicial"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicial></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="pickerFinal" placeholder="Vigência Final" maxlength="10" [min]="minDate"
            [formControl]="pedidoForm.controls['endValidity']" readonly>
          <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
          <mat-datepicker #pickerFinal></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="Periodicidade" [formControl]="pedidoForm.controls['frequence']"
            (selectionChange)="outroPeriodo($event)">
            <mat-option>Periocidade</mat-option>
            <mat-option [value]="1">Pontual</mat-option>
            <mat-option [value]="7">Semanal</mat-option>
            <mat-option [value]="14">Quinzenal</mat-option>
            <mat-option [value]="30">Mensal</mat-option>
            <mat-option [value]="60">Bimestral</mat-option>
            <mat-option [value]="90">Trimestral</mat-option>
            <mat-option [value]="0">Outros(Informar a periodicidade)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="15" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="otherper" upperCase mask="000" placeholder="Outra periodicidade (em dias)"
            [formControl]="pedidoForm.controls['frequenceInDays']">
        </mat-form-field>
      </div>

      <div fxFlex="25" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="pickerEnvio" placeholder="Data primeiro envio" [min]="minDate" maxlength="10"
            [formControl]="pedidoForm.controls['dateToSend']" readonly>
          <mat-datepicker-toggle matSuffix [for]="pickerEnvio"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnvio></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- <div fxFlex="40" class="pr-1" style="margin-top:5px;">        
          <mat-radio-group [formControl]="pedidoForm.controls['status']"
            style="display: flex; justify-content: space-around">
            <span style="font-weight: bolder">Aprovação</span>
            <mat-radio-button value="A">Laboratório</mat-radio-button>
            <mat-radio-button value="P">Médico</mat-radio-button>
          </mat-radio-group>
        
      </div> -->
    </div>

    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Itens disponíveis</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">
        <form [formGroup]="itensPedido" autocomplete="off" *ngIf="(this.data.novo || this.editable)">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="70" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select placeholder="Produto" [formControl]="itensPedido.controls['productID']"
                  (change)="getStock($event)">
                  <mat-option *ngFor="let product of listProduct" [value]="product.productID">{{product.productName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input #estoqueAtual matInput name="estoque" upperCase placeholder="Estoque atual" [disabled]="true"
                  [value]="0">
              </mat-form-field>
            </div>

            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput #qtyEdit name="qty" upperCase mask="0000" placeholder="Quantidade liberada"
                  [formControl]="itensPedido.controls['qty']">
              </mat-form-field>
            </div>



            <div fxFlex="20" class="pr-1">
              <button mat-raised-button class="mat-primary" type="button" (click)="addProduct()"
                [disabled]="itensPedido.invalid" style="width: 100%">Incluir Produto</button>
            </div>
          </div>
        </form>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="itensPed" [columnMode]="'standard'" [headerHeight]="35"
              [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true" [messages]="{emptyMessage: ''}">
              <ngx-datatable-column name="Desativar" [flexGrow]="1" [width]="80" *ngIf="(this.data.novo || this.editable)">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="warn" (click)="removeItem(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Produto" [width]="500">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["productName"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Quantidade" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["qty"]}}
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Fechar</button>
      <span fxFlex></span>

      <button mat-raised-button color="warn" type="button" (click)="Editar()" *ngIf="(!this.data.novo)">Editar</button>
      <span fxFlex fxFlex *ngIf="(!this.data.novo )"></span>
      <button mat-raised-button class="mat-primary" type="button" (click)="Cancel()" *ngIf="(!this.data.novo)">Cancelar
        Pedido</button>
      <span fxFlex *ngIf="(!this.data.novo)"></span>

      <button mat-raised-button class="mat-primary" type="button" [disabled]="formValido()" (click)="SavePedido()"
        *ngIf="this.data.novo">Gravar</button>
      <span fxFlex *ngIf="this.data.novo"></span>
    </div>
  </div>
</form>