<h3>
  {{data.title}}</h3>
<form [formGroup]="prescriptionForm" (ngSubmit)="savePrescriptionPatient()" autocomplete="off">
  <mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="60" class="pr-1" *ngIf="telaCliente==false">
        <mat-form-field class="full-width">
          <mat-select [formControl]="prescriptionForm.controls['PatientId']" placeholder="Paciente" required>
            <mat-option *ngFor="let patient of listPatients" [value]="patient.PatientId">{{patient.PatientName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput  placeholder="Data da Receita" type="date"
            [formControl]="prescriptionForm.controls['PrescriptionDate']" required>
          <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> -->
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput  placeholder="Data de Validade" type="date"
            [formControl]="prescriptionForm.controls['ExpirationDate']" required>
          <!-- <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker> -->
        </mat-form-field>
      </div>

      <div fxFlex="15" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Crm" [formControl]="prescriptionForm.controls['Crm']" placeholder="CRM" maxlength="10"
            upperCase required>
        </mat-form-field>
      </div>

      <div fxFlex="15" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="prescriptionForm.controls['UfCrm']" placeholder="UF CRM" required>
            <mat-option *ngFor="let state of listStates" [value]="state.stateId">{{state.stateUF}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="DoctorName" [formControl]="prescriptionForm.controls['DoctorName']"
            placeholder="Nome do Médico" maxlength="60" upperCase required>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1" *ngIf="this.data.novo">
        <input name="fileContent" id="fileUpload" type="file" style="display: none" #fileUpload
          (change)="selectFile($event)">
        <button mat-raised-button class="mat-primary" type="button" (click)="fileUpload.click()">Upload de receita
        </button> <b>  {{fileContentName}}</b> 
      </div>

      <div fxFlex="20" class="pr-1" *ngIf="this.data.novo===false">
         <button mat-raised-button class="mat-primary" type="button" (click)="downloadReceita()">Download da Receita
        </button>
      </div>
    </div>

    <mat-card class="mat-card-background"
      *ngIf="fileContent!= null && fileContent!=undefined && fileContent.length > 10 && fileContentType!='pdf' ">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Imagem da receita</span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap"
          style="justify-content: center; align-content: center">
          <img src="{{fileContent}}" >
        </div>
      </mat-card-content>


    </mat-card>

    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Lista Medicamentos da Receita</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">

        <form [formGroup]="findMedicinesForm" autocomplete="off">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" *ngIf="this.data.novo">
            <div fxFlex="70" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="MedicineFind" placeholder="Busca por EAN, Medicamento ou Princípio Ativo" maxlength="60" upperCase
                  [formControl]="findMedicinesForm.controls['MedicineFind']">
              </mat-form-field>
            </div>
            <div fxFlex="30" class="pr-1">
              <button mat-raised-button class="mat-primary" type="button" [disabled] ="findMedicinesForm.invalid" 
                (click)="procurarMedicamento()"> Procurar Medicamento </button>
            </div>
          </div>
        </form>

        <form [formGroup]="medicinesForm" autocomplete="off">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" *ngIf="this.data.novo">
            <div fxFlex="100" class="pr-1">
              <ngx-datatable class="material striped" [rows]="listMedicines" [columnMode]="'standard'"
                [headerHeight]="35" [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true"
                [messages]="{emptyMessage: ''}" [selected]="selected" [selectionType]="'single'"
                (select)='onSelect($event)' [limit]="20">

                <ngx-datatable-column name="EAN" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["EAN"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Medicamento" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["MedicineName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Laboratório" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["LabName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Princípio ativo" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["ActivePrincipleName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Apresentação" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Presentation"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Unidade" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["UnitName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Dosagem" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Dosage"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Quantidade" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["QtyTotal"]}}
                  </ng-template>
                </ngx-datatable-column>


              </ngx-datatable>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" *ngIf="this.data.novo">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="EAN" [formControl]="medicinesForm.controls['EAN']" placeholder="EAN" upperCase
                  maxlength="13" mask="0000000000000" [readonly]="true" #ean>
              </mat-form-field>
            </div>
            <div fxFlex="40" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="MedicineName" [formControl]="medicinesForm.controls['MedicineName']" placeholder="Medicamento"
                 upperCase maxlength="100" [readonly]="true">
              </mat-form-field>
            </div>
            <div fxFlex="40" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="LabName" [formControl]="medicinesForm.controls['LabName']"
                  placeholder="Laboratório" upperCase maxlength="100" [readonly]="true">
              </mat-form-field>
            </div>
            <div fxFlex="40" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Presentation" [formControl]="medicinesForm.controls['Presentation']"
                  placeholder="Apresentação" upperCase maxlength="100" [readonly]="true">
              </mat-form-field>
            </div>
            <div fxFlex="20" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="dosagem" [formControl]="medicinesForm.controls['dailyDose']"
                  placeholder="Dose diária" upperCase maxlength="20" mask="0000" #dailyDose>
              </mat-form-field>
            </div>

          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" *ngIf="this.data.novo">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select [formControl]="medicinesForm.controls['Dispensation']" placeholder="Período de Entrega">
                  <mat-option>Selecione a forma de dispensação</mat-option>
                  <mat-option [value]="30">30 Dias </mat-option>
                  <mat-option [value]="60">60 Dias </mat-option>
                  <mat-option [value]="90">90 Dias </mat-option>
                  <mat-option [value]="120">120 Dias </mat-option>
                  <mat-option [value]="150">150 Dias </mat-option>
                  <mat-option [value]="180">180 Dias </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <button mat-raised-button class="mat-primary" [disabled]="medicinesForm.invalid" type="button"
                (click)="addPatientMedicine()">Adicionar Medicamento</button>
            </div>

          </div>


          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="100" class="pr-1">
              <ngx-datatable class="material" [rows]="ListPrescriptionItem" [columnMode]="'standard'"
                [headerHeight]="35" [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true"
                [messages]="{emptyMessage: ''}">
                <ngx-datatable-column name="Excluir" [flexGrow]="0" [width]="80" *ngIf="this.data.novo">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="warn" (click)="removeMedicine(row)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="EAN" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["EAN"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Medicamento" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["MedicineName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Laboratório" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["LabName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Apresentação" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Presentation"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Dose diária" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["dailyDose"]}}
                  </ng-template>
                </ngx-datatable-column>
              
                <ngx-datatable-column name="Dispensação" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Dispensation"]}}
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>
            </div>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
    <div fxFlex="100" class="dialog-footer">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" [disabled]="formValido()" *ngIf="this.data.novo">Gravar</button>
      <span fxFlex *ngIf="this.data.novo"></span>
    </div>
  </div>
</form>