<h3>
  {{data.title}}</h3>
<form [formGroup]="laboratorioForm"  autocomplete="off" (ngSubmit)="SaveLaboratory()">
  <mat-dialog-content class="corpo">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <!-- <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="cnpj" placeholder="ID" maxlength="18" [disabled]="true" upperCase [value]="3">
        </mat-form-field>
      </div> -->
      <div fxFlex="40" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="laboratoryName" placeholder="Razão Social" maxlength="50" upperCase
          [formControl]="laboratorioForm.controls['laboratoryName']" required>
          <mat-error *ngIf="this.laboratorioForm.get('laboratoryName').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="40" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="laboratoryFantasyName" placeholder="Fantasia" maxlength="50" upperCase
          [formControl]="laboratorioForm.controls['laboratoryFantasyName']" required>
          <mat-error *ngIf="this.laboratorioForm.get('laboratoryFantasyName').hasError('required')" > 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="cnpj" placeholder="CNPJ" maxlength="18" mask="00.000.000/0000-00" upperCase
          [formControl]="laboratorioForm.controls['cnpj']" required>
          <mat-error *ngIf="this.laboratorioForm.get('cnpj').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="address" placeholder="Logradouro" maxlength="60" upperCase
          [formControl]="laboratorioForm.controls['address']" required>
          <mat-error *ngIf="this.laboratorioForm.get('address').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="10" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="number" placeholder="Número" maxlength="10" upperCase
          [formControl]="laboratorioForm.controls['number']" required>
          <mat-error *ngIf="this.laboratorioForm.get('number').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="40" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="address" placeholder="Complemento" maxlength="60" upperCase
          [formControl]="laboratorioForm.controls['complement']">          
        </mat-form-field>
      </div>

      <div fxFlex="40" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="city" placeholder="Cidade" maxlength="50" upperCase
          [formControl]="laboratorioForm.controls['city']" required>
          <mat-error *ngIf="this.laboratorioForm.get('city').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="40" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="neighborhood" placeholder="Bairro" maxlength="50" upperCase
          [formControl]="laboratorioForm.controls['neighborhood']" required>
          <mat-error *ngIf="this.laboratorioForm.get('neighborhood').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="Estado" [formControl]="laboratorioForm.controls['stateId']" required>
            <mat-option *ngFor="let estado of linhasStates" [value]="estado.stateId">{{estado.stateName}} </mat-option>
          </mat-select>
          <mat-error *ngIf="this.laboratorioForm.get('stateId').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="15" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="zipCode" placeholder="CEP" maxlength="9" upperCase mask="00000-000"
          [formControl]="laboratorioForm.controls['zipCode']" required>
          <mat-error *ngIf="this.laboratorioForm.get('zipCode').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="15" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="address" placeholder="Telefone PABX" maxlength="16" upperCase mask="(00)00000000"
          [formControl]="laboratorioForm.controls['pabx']" required>
          <mat-error *ngIf="this.laboratorioForm.get('pabx').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="10" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="ramal" placeholder="Ramal" maxlength="4" upperCase mask="0000"
          [formControl]="laboratorioForm.controls['ramal']">
        </mat-form-field>
      </div>      

      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="responsible" placeholder="Reponsável pelo Projeto" maxlength="50" upperCase
          [formControl]="laboratorioForm.controls['responsible']" required>
          <mat-error *ngIf="this.laboratorioForm.get('responsible').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="deptResponsible" placeholder="Departamento do Reponsável" maxlength="50" upperCase
          [formControl]="laboratorioForm.controls['deptResponsible']" required>
          <mat-error *ngIf="this.laboratorioForm.get('deptResponsible').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="email" placeholder="Email" maxlength="100" upperCase
          [formControl]="laboratorioForm.controls['email']" required>
          <mat-error *ngIf="this.laboratorioForm.get('email').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
          <mat-error *ngIf="this.laboratorioForm.get('email').hasError('email')"> 
            {{emailInvalido}}
          </mat-error>          
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="comercialPhone" placeholder="Telefone comercial" maxlength="100" upperCase mask="(00)000000000"
            [formControl]="laboratorioForm.controls['comercialPhone']" required>
            <mat-error *ngIf="this.laboratorioForm.get('comercialPhone').hasError('required')"> 
              {{campoObrigatorio}}
            </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="10" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="ramal" placeholder="Ramal" maxlength="4" upperCase mask="0000">
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="cellPhone" placeholder="Telefone Celular" maxlength="14" upperCase mask="(00)000000000"
          [formControl]="laboratorioForm.controls['cellPhone']">
        </mat-form-field>
      </div>

      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="login" placeholder="Login" maxlength="14" upperCase
          [formControl]="laboratorioForm.controls['login']" required>
          <mat-error *ngIf="this.laboratorioForm.get('login').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="password" placeholder="Senha" maxlength="20" upperCase type="password"
          [formControl]="laboratorioForm.controls['password']" required>
          <mat-error *ngIf="this.laboratorioForm.get('password').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="confirmpassword" placeholder="Confirmar senha" maxlength="20" upperCase type="password"
          [formControl]="laboratorioForm.controls['confirmPassword']" required>
          <mat-error *ngIf="this.laboratorioForm.get('confirmPassword').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>


      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="Status" [formControl]="laboratorioForm.controls['status']">            
            <mat-option [value]="1">Ativo</mat-option>
            <mat-option [value]="2">Suspenso</mat-option>
          </mat-select>
          <mat-error *ngIf="this.laboratorioForm.get('status').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Comments" placeholder="Observações" maxlength="200" upperCase
          [formControl]="laboratorioForm.controls['Comments']">            
        </mat-form-field>
      </div>

    </div>


  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>      
      <span fxFlex></span>      
      <button mat-raised-button class="mat-primary" [disabled]="laboratorioForm.invalid">Gravar</button>
      <span fxFlex></span>
    </div>
  </div>
</form>
