<h3>
  {{data.title}}</h3>
<form [formGroup]="pedidoForm" autocomplete="off">


  <mat-card class="mat-card-background">
    <mat-card-header class="mat-card-titulo2">
      <span class="mat-card-titulo">Itens disponíveis</span><span class="mat-card-titulo" fxFlex></span>
    </mat-card-header>
    <mat-card-content class="mat-card-body" style="padding-top: 10px">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
        <div fxFlex="100" class="pr-1">
          <ngx-datatable class="material" [rows]="listItens" [columnMode]="'standard'" [headerHeight]="35"
            [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true" [messages]="{emptyMessage: ''}">            
            <ngx-datatable-column name="Produto" [width]="250">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["produto"]}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Quantidade" [width]="150">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row["qtd"]}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Endereços de entrega do Médico</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">

        <form [formGroup]="addressForm" autocomplete="off">

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

              <div fxFlex="100" class="pr-1">
                  <mat-form-field class="full-width" >
                    <mat-select placeholder="Selecione um endereço ou cadastre um novo">
                      <mat-option>Selecione o endereço de entrega</mat-option>
                      <mat-option [value]="1">Rua principal, 1 - 09784200 </mat-option>
                      <mat-option [value]="2">Avenida paulista, 300 - 04111000 </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>            

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Address" placeholder="Descrição do endereço" maxlength="60" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Address"  placeholder="Logradouro"
                  maxlength="60" upperCase>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="addressNumber"  placeholder="Número" maxlength="10" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="complement"  placeholder="Complemento" maxlength="200" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="city" maxlength="50" upperCase placeholder="Cidade">
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="neighborhood"  placeholder="Bairro" maxlength="50" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select placeholder="Estado">
                  <mat-option>Selecione o Estado</mat-option>
                  <mat-option *ngFor="let state of listState" [value]="state.stateId">{{state.stateName}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="zipCode"  placeholder="CEP"
                  upperCase maxlength="14" mask="00000-000">
              </mat-form-field>
            </div>           

            
            <div fxFlex="50" class="pr-1">
              <button mat-raised-button class="mat-primary" [disabled]="addressForm.invalid" type="button">Adic.
                Endereço</button>
            </div>
          </div>
        </form>        
      </mat-card-content>
    </mat-card>  




  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" [disabled]="pedidoForm.invalid">Confirmar Pedido</button>
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      <span fxFlex></span>
    </div>
  </div>
</form>
