<h2 matDialogTitle>
  {{data.title}}</h2>  

<form [formGroup]="pathologieForm" (ngSubmit)="addPathology()">
  <mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="pathologieForm.controls['pathologyId']" placeholder="Patologia">
            <mat-option>Selecione a Patologia</mat-option>
            <mat-option *ngFor="let pathology of listPathologies" [value]="pathology.pathologyId">
              {{pathology.pathologyDescription}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
    <div fxFlex="100" class="mt-1">
      <button mat-raised-button class="mat-primary" [disabled]="pathologieForm.invalid">Gravar</button>
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
    </div>
  </div>
</form>
