<h3>
  {{data.title}}</h3>
<form [formGroup]="pedidoForm" autocomplete="off">
  <mat-dialog-content class="corpo">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

      <div fxFlex="10" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="otherper" upperCase placeholder="ID Pedido"
            [formControl]="pedidoForm.controls['ordersRepresentativeID']">
        </mat-form-field>
      </div>

      <div fxFlex="45" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="otherper" upperCase placeholder="Representante"
            [formControl]="pedidoForm.controls['representativeName']">
        </mat-form-field>
      </div>

      <div fxFlex="45" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="otherper" upperCase placeholder="Laboratório"
            [formControl]="pedidoForm.controls['laboratoryFantasyName']">
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="otherper" upperCase placeholder="Data Envio"
            [formControl]="pedidoForm.controls['orderRepresentativeDateSend']">
        </mat-form-field>
      </div>
    </div>



    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Itens do Pedido</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">  
        
        <form [formGroup]="itensPedido" autocomplete="off" *ngIf="(this.editable)">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="70" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select placeholder="Produto" [formControl]="itensPedido.controls['productID']"
                  (change)="getStock($event)">
                  <mat-option *ngFor="let product of listProduct" [value]="product.productID">{{product.productName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input #estoqueAtual matInput name="estoque" upperCase placeholder="Estoque atual" [disabled]="true"
                  [value]="0">
              </mat-form-field>
            </div>

            <div fxFlex="15" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput #qtyEdit name="qty" upperCase mask="0000" placeholder="Quantidade liberada"
                  [formControl]="itensPedido.controls['Qty']">
              </mat-form-field>
            </div>

            <div fxFlex="20" class="pr-1">
              <button mat-raised-button class="mat-primary" type="button" (click)="addProduct()"
                [disabled]="itensPedido.invalid" style="width: 100%">Incluir Produto</button>
            </div>
          </div>
        </form>        

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="produtos" [columnMode]="'standard'" [headerHeight]="35"
              [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true" [messages]="{emptyMessage: ''}">              
              
              <ngx-datatable-column name="Desativar" [flexGrow]="1" [width]="80" *ngIf="(this.editable)">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="warn" (click)="removeItem(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-template>
              </ngx-datatable-column>              
              
              <ngx-datatable-column name="Produto" [width]="500">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["productName"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Quantidade" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["Qty"]}}
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Fechar</button>
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button"  *ngIf="(!this.data.novo)" (click)="Editar()">Editar</button>
      <span fxFlex fxFlex *ngIf="(!this.data.novo)"></span>        

      <button mat-raised-button color="warn" type="button" *ngIf="(!this.data.novo)" (click)="Cancel()">Cancelar Pedido</button>
      <span fxFlex *ngIf="(!this.data.novo)"></span>      
      
      <button mat-raised-button color="primary" type="button" (click)="resend()"  *ngIf="(btnResend)">Reenviar Pedido</button>
      <span fxFlex *ngIf="(btnResend)"></span>       
    </div>
  </div>
</form>
