<h3>
  {{data.title}}</h3>
<!-- <mat-card class="mat-card-background"> -->
<!-- <mat-card-header class="mat-card-titulo2">
    <span class="mat-card-titulo" style="font-size:20px;font-weight: bold">Pedido</span><span class="mat-card-titulo"
      fxFlex></span>
  </mat-card-header> -->
<mat-dialog-content>
  <mat-card-content class="mat-card-body" style="padding-top: 10px">

    <form [formGroup]="doctorForm" autocomplete="off">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
        <div fxFlex="50" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="doctorName" placeholder="Nome do Médico" maxlength="50" upperCase
              [formControl]="doctorForm.controls['doctorName']">
          </mat-form-field>
        </div>

        <div fxFlex="15" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="crm" placeholder="CRM" maxlength="50" upperCase mask="00000000"
              [formControl]="doctorForm.controls['crm']">
          </mat-form-field>
        </div>

        <div fxFlex="15" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select placeholder="UF CRM" [formControl]="doctorForm.controls['uf_crm']">
              <mat-option *ngFor="let estado of linhasStates" [value]="estado.stateId">{{estado.stateName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="20" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="cpf" placeholder="CPF" maxlength="14" mask="000.000.000-00" upperCase
              [formControl]="doctorForm.controls['cpf']">
          </mat-form-field>
        </div>

        <div fxFlex="20" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="phoneComercial" placeholder="Telefone Comercial" maxlength="16" upperCase
              mask="(00)00000000" [formControl]="doctorForm.controls['phoneComercial']">
          </mat-form-field>
        </div>

        <div fxFlex="15" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="ramal" placeholder="Ramal" maxlength="10" upperCase
              [formControl]="doctorForm.controls['ramal']">
          </mat-form-field>
        </div>

        <div fxFlex="20" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="cellPhone" placeholder="Telefone Celular" maxlength="14" upperCase
              mask="(00)000000000" [formControl]="doctorForm.controls['cellPhone']">
          </mat-form-field>
        </div>
        <div fxFlex="100" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="comments" placeholder="Observações" maxlength="200" upperCase
              [formControl]="doctorForm.controls['comments']">
          </mat-form-field>
        </div>
      </div>

    </form>


    <form [formGroup]="addressForm" autocomplete="off">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
        <div fxFlex="100" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select [formControl]="addressForm.controls['addressFormId']" placeholder="Selecione o endereço para entrega"
              (selectionChange)="selectAddress($event, 'N')">              
              <mat-option *ngFor="let address of listAddress" [value]="address.doctorAddressesId">
                {{address.address}}, {{address.addressNumber}} - {{address.zipCode}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div fxFlex="50" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="address" placeholder="Logradouro" maxlength="60" upperCase 
              [formControl]="addressForm.controls['address']">
          </mat-form-field>
        </div>

        <div fxFlex="15" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="number" placeholder="Número" maxlength="10" upperCase
              [formControl]="addressForm.controls['number']">
          </mat-form-field>
        </div>

        <div fxFlex="35" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="complement" placeholder="Complemento" maxlength="60" upperCase
              [formControl]="addressForm.controls['complement']">
          </mat-form-field>
        </div>

        <div fxFlex="40" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="city" placeholder="Cidade" maxlength="50" upperCase
              [formControl]="addressForm.controls['city']">
          </mat-form-field>
        </div>

        <div fxFlex="40" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="neighborhood" placeholder="Bairro" maxlength="50" upperCase
              [formControl]="addressForm.controls['neighborhood']">
          </mat-form-field>
        </div>

        <div fxFlex="20" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select placeholder="Estado" [formControl]="addressForm.controls['stateId']">
              <mat-option *ngFor="let estado of linhasStates" [value]="estado.stateId">{{estado.stateName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="15" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="zipCode" placeholder="CEP" maxlength="9" upperCase mask="00000-000"
              [formControl]="addressForm.controls['zipCode']">
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <!-- <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="edit()">Selecionar Endereço</button>
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" type="button" (click)="SaveAddress()">Confirmar</button>
      <span fxFlex></span>
    </div>
  </div> -->
  <span fxFle style="height: 10px;"></span>

  <form [formGroup]="pedidoForm" autocomplete="off">
    <mat-dialog-content class="corpo">
      <mat-card class="mat-card-background">
        <mat-card-header class="mat-card-titulo2">
          <span class="mat-card-titulo">Detalhes do pedido</span><span class="mat-card-titulo" fxFlex></span>
        </mat-card-header>
        <mat-card-content class="mat-card-body" style="padding-top: 10px">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

            <div fxFlex="60" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select placeholder="Médico" [formControl]="pedidoForm.controls['doctorID']">
                  <mat-option *ngFor="let doctor of doctors" [value]="doctor.doctorID">{{doctor.doctorName}}-
                    CRM:{{ doctor.crm}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="20" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="pickerInicial" placeholder="Vigência Inicial" [min]="minDate"
                  maxlength="10" [formControl]="pedidoForm.controls['startValidity']">
                <mat-datepicker-toggle matSuffix [for]="pickerInicial"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicial></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxFlex="20" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="pickerFinal" placeholder="Vigência Final" maxlength="10"
                  [min]="minDate" [formControl]="pedidoForm.controls['endValidity']">
                <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
                <mat-datepicker #pickerFinal></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxFlex="30" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select placeholder="Periodicidade" [formControl]="pedidoForm.controls['frequence']">
                  <mat-option>Periocidade</mat-option>
                  <mat-option [value]="1">Pontual</mat-option>
                  <mat-option [value]="7">Semanal</mat-option>
                  <mat-option [value]="14">Quinzenal</mat-option>
                  <mat-option [value]="30">Mensal</mat-option>
                  <mat-option [value]="60">Bimestral</mat-option>
                  <mat-option [value]="90">Trimestral</mat-option>
                  <mat-option [value]="0">Outros(Informar a periodicidade)</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="25" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="otherper" upperCase mask="000" placeholder="Outra periodicidade (em dias)"
                  [formControl]="pedidoForm.controls['frequenceInDays']">
              </mat-form-field>
            </div>

            <div fxFlex="25" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="pickerEnvio" placeholder="Data primeiro envio" [min]="minDate"
                  maxlength="10" [formControl]="pedidoForm.controls['dateToSend']">
                <mat-datepicker-toggle matSuffix [for]="pickerEnvio"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnvio></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="100" class="pr-1">
              <ngx-datatable class="material" [rows]="itensPed" [columnMode]="'standard'" [headerHeight]="35"
                [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true" [messages]="{emptyMessage: ''}">
                <ngx-datatable-column name="Produto" [width]="500">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["productName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Quantidade" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["qty"]}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </mat-dialog-content>
  </form>
  <!-- </mat-card> -->
</mat-dialog-content>

<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
  <div fxFlex="100" class="mt-1">
    <span fxFlex></span>
    <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Fechar</button>
    <span fxFlex></span>
    <button mat-raised-button class="mat-primary" type="button" (click)="ApproveOrder()">Aprovar</button>
    <span fxFlex></span>
  </div>
</div>