<h2 matDialogTitle>
  {{data.title}}</h2>

<form [formGroup]="foneForm" (ngSubmit)="addPhone()">
  <mat-dialog-content>
    <mat-card-content>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="30" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Fone" [formControl]="foneForm.controls['phoneNumber']" placeholder="Telefone" upperCase maxlength="14"
                  mask="(00)000000000">
              </mat-form-field>
            </div>
            <div fxFlex="30" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Ramal" [formControl]="foneForm.controls['ramal']" placeholder="Ramal" maxlength="6" upperCase>
              </mat-form-field>
            </div>
            <div fxFlex="30" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select [formControl]="foneForm.controls['phoneTypeId']" placeholder="Tipo de Telefone">
                  <mat-option>Selecione o Tipo de Telefone</mat-option>
                  <mat-option *ngFor="let phoneType of listPhoneType" [value]="phoneType.phoneTypeId">{{phoneType.description}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            
          </div>
    </mat-card-content>
  </mat-dialog-content>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
    <div fxFlex="100" class="mt-1">
      <button mat-raised-button class="mat-primary" [disabled]="foneForm.invalid">Gravar</button>
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
    </div>
  </div>
</form>
