<h3 matDialogTitle>
  {{data.title}}</h3>

<form [formGroup]="medicineForm">
  <mat-dialog-content>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="nome" [formControl]="medicineForm.controls['EAN']" placeholder="EAN" maxlength="40"
            upperCase [disabled]="true" readOnly="true">
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="nome" [formControl]="medicineForm.controls['MedicineName']" placeholder="Medicamento"
            maxlength="40" upperCase>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="nome" [formControl]="medicineForm.controls['LabName']" placeholder="Laboratório"
            maxlength="40" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="nome" [formControl]="medicineForm.controls['ActivePrincipleName']"
            placeholder="Princípio ativo" maxlength="40" upperCase>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="nome" [formControl]="medicineForm.controls['Presentation']" placeholder="Apresentação"
            maxlength="40" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="nome" [formControl]="medicineForm.controls['UnitName']" placeholder="Unidade"
            maxlength="40" upperCase>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="nome" [formControl]="medicineForm.controls['Dosage']" placeholder="Dosagem"
            maxlength="40" upperCase>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="nome" [formControl]="medicineForm.controls['codClasse']" placeholder="Cód. Classe"
            maxlength="20" upperCase>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="nome" [formControl]="medicineForm.controls['DescClasse']"
            placeholder="Classe Terapêutic" maxlength="200" upperCase>
        </mat-form-field>
      </div>

    </div>
  </mat-dialog-content>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Fechar</button>
      <span fxFlex></span>
      <button mat-raised-button color="primary" type="button" (click)="salvar()">Gravar</button>
      <span fxFlex></span>
    </div>
  </div>
</form>