<h3>
  {{data.title}}</h3>
<form autocomplete="off" [formGroup]="formAtencao">
  <mat-dialog-content class="corpo">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="80" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="formAtencao.controls['patientId']" placeholder="Paciente" required
            (selectionChange)="trocaPaciente($event)">
            <mat-option *ngFor="let patient of listPatients" [value]="patient.PatientId">{{patient.PatientName}} -
              CPF:{{patient.CPF}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput placeholder="Data Prevista" [formControl]="formAtencao.controls['dateAttention']" required
            type="date">
        </mat-form-field>
      </div>

      <!-- <div fxFlex="20" class="pr-1">
          <button mat-raised-button class="mat-primary" [disabled]="formAtencao.invalid" (click)="salvar()">Agendar</button>
        </div> -->
  

      

      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Comentários importantes" [formControl]="formAtencao.controls['observation']"
            maxlength="200"></textarea>
        </mat-form-field>
      </div>
    </div>

    <mat-tab-group (selectedTabChange)="selectTab($event)" *ngIf="formAtencao.controls['patientId'].value >0">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>assignment</mat-icon>
          Receitas
        </ng-template>
        <p></p>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="30" class="pr-1">
            <button mat-raised-button class="mat-primary" (click)="novaReceita()">Nova receita</button>
          </div>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="listReceitas" [columnMode]="'standard'" [footerHeight]="0"
              [scrollbarH]="true" [messages]="{emptyMessage: ''}" [rowHeight]="'auto'" [headerHeight]="50">

              <ngx-datatable-column name="Data Receita" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["prescriptionDate"]|date:"dd/MM/yyyy"}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Validade" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["expirationDate"]|date:"dd/MM/yyyy"}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="CRM" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["crm"]}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="UF CRM" [width]="80">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["stateUF"]}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Visualizar" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="primary"
                    (click)="showReceita(row['prescriptionId'])">Visualizar</button>

                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>assignment_turned_in</mat-icon>
          Pedidos liberados
        </ng-template>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="listReleaseOrder" [columnMode]="'standard'" [footerHeight]="0"
              [scrollbarH]="true" [messages]="{emptyMessage: ''}" [rowHeight]="'auto'" [headerHeight]="50">

              <ngx-datatable-column name="Data Liberação" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["releaseOrderDate"]|date:"dd/MM/yyyy"}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Prazo de entrega" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["dispensation"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Visualizar" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="primary"
                    (click)="showReleaseOrder(row['releaseOrderId'])">Visualizar</button>

                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>style</mat-icon>
          Anamnese
        </ng-template>
        <p></p>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="30" class="pr-1">
            <button mat-raised-button class="mat-primary" (click)="novaAnamnese()">Nova Anamnese</button>
          </div>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="questionarios" [columnMode]="'standard'" [footerHeight]="0"
              [scrollbarH]="true" [messages]="{emptyMessage: ''}" [rowHeight]="'auto'" [headerHeight]="50">

              <ngx-datatable-column name="Data Anamnese" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["CreateDate"]|date:"dd/MM/yyyy"}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Visualizar" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="primary"
                    (click)="showQuestionario(row['ResearchesId'])">Visualizar</button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>compare_arrows</mat-icon>
          Interação medicamentosa
        </ng-template>
        <p></p>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="30" class="pr-1">
            <button mat-raised-button class="mat-primary" (click)="novaInteracao()">Nova Interação</button>
          </div>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="linhasInteracoes" [columnMode]="'standard'" [footerHeight]="0"
              [scrollbarH]="true" [messages]="{emptyMessage: ''}" [rowHeight]="'auto'" [headerHeight]="50">

              <ngx-datatable-column name="Data Interação" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["DateInteraction"]|date:"dd/MM/yyyy"}}
                </ng-template>
              </ngx-datatable-column>


              <ngx-datatable-column name="Visualizar" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="primary" (click)="verInteracao(row)">Visualizar</button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </mat-tab>
      <mat-tab>

        <form [formGroup]="formEfeito" autocomplete="off">
          <p></p>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select [formControl]="formEfeito.controls['AdverseEffectsId']" placeholder="Efeito Adverso"
                  required>
                  <mat-option *ngFor="let effect of listEffects" [value]="effect.AdverseEffectsId">
                    {{effect.AdverseEffectsDescription}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="25" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="inicio" placeholder="Início do efeito"
                  [formControl]="formEfeito.controls['DateStart']" required type="date">
                <!-- <mat-datepicker-toggle matSuffix [for]="inicio"></mat-datepicker-toggle>
                <mat-datepicker #inicio></mat-datepicker> -->
              </mat-form-field>
            </div>

            <div fxFlex="25" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="fim" placeholder="Fim do efeito"
                  [formControl]="formEfeito.controls['DateEnd']" type="date">
                <!-- <mat-datepicker-toggle matSuffix [for]="fim"></mat-datepicker-toggle>
                <mat-datepicker #fim></mat-datepicker> -->
              </mat-form-field>
            </div>

            <div fxFlex="80" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="doctorName" placeholder="Observações" maxlength="200" upperCase
                  [formControl]="formEfeito.controls['Comments']">
              </mat-form-field>
            </div>

            <div fxFlex="20" class="pr-1">
              <button mat-raised-button class="mat-primary" type="button" [disabled]="formEfeito.invalid"
                (click)="addEffectAdverse()">Adicionar efeito</button>
            </div>
          </div>
        </form>

        <ng-template mat-tab-label>
          <mat-icon>thumb_up</mat-icon>
          Efeitos Adversos
        </ng-template>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="effectList" [columnMode]="'standard'" [footerHeight]="0"
              [scrollbarH]="true" [messages]="{emptyMessage: ''}" [rowHeight]="'auto'" [headerHeight]="50">

              <ngx-datatable-column name="Efeito" [width]="450">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["AdverseEffectsDescription"]}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Início do efeito" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["DateStart"]|date:"dd/MM/yyyy"}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Fim do efeito" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["DateEnd"]|date:"dd/MM/yyyy"}}
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </mat-dialog-content>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
    <div fxFlex="100" class="dialog-footer">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" [disabled]="formAtencao.invalid" (click)="salvar()">Gravar</button>
      <span fxFlex></span>

    </div>
  </div>
</form>