<h3>
  {{data.title}}</h3>
<form [formGroup]="userForm" autocomplete="off">
  <mat-dialog-content class="corpo">

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="Laboratório" [formControl]="userForm.controls['laboratoryID']" required>
            <mat-option *ngFor="let lab of listLabs" [value]="lab.laboratoryID">{{lab.laboratoryFantasyName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="nome" [formControl]="userForm.controls['userName']" placeholder="Nome Usuário"
            maxlength="40" upperCase required>
        </mat-form-field>
      </div>

      <div fxFlex="25" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Login" [formControl]="userForm.controls['userLoginName']" placeholder="Login" 
            maxlength="40" upperCase required>
        </mat-form-field>
      </div>

      <div fxFlex="25" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Login" [formControl]="userForm.controls['userPassword']" placeholder="Senha" type="password"
            maxlength="20" upperCase required>
        </mat-form-field>
      </div>

      <div fxFlex="25" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Login" [formControl]="userForm.controls['userConfirmPassword']"
            placeholder="Cofirmar Senha" maxlength="20" upperCase type="password" required>
        </mat-form-field>
      </div>


    </div>

  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" [disabled]="userForm.invalid" (click)="SaveUser()">Gravar</button>
      <span fxFlex></span>
    </div>
  </div>
</form>
