<h2 matDialogTitle>
  {{data.title}}</h2>
<form [formGroup]="formPhoneType" (ngSubmit)="InputPhoneType()">
  <mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1" *ngIf="(data.novo===true)">
        <mat-form-field class="full-width">
          <input matInput name="PhoneTypeId" [formControl]="formPhoneType.controls['PhoneTypeId']" placeholder="Identificador"
            maxlength="8" upperCase>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Description" [formControl]="formPhoneType.controls['Description']" placeholder="Tipo de Telefone"
            maxlength="200" upperCase>
        </mat-form-field>
      </div>      
    </div>
 

  </mat-dialog-content>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
    <div fxFlex="100" class="mt-1">
      <button mat-raised-button class="mat-primary" [disabled]="formPhoneType.invalid">Gravar</button>
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
    </div>
  </div>
</form>