<h3>
  {{data.title}}</h3>
<form [formGroup]="pacienteForm" (ngSubmit)="savePatient()" autocomplete="off">
  <mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="100" class="pr-1" *ngIf="telaCliente==false">
        <mat-form-field class="full-width">
          <mat-select [formControl]="pacienteForm.controls['ClientId']" placeholder="Cliente">
            <mat-option>Selecione o Cliente</mat-option>
            <mat-option *ngFor="let client of listClients" [value]="client.ClientId">{{client.ClientFantasyName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="pr-1" *ngIf="telaCliente==true">
        <mat-form-field class="full-width">
          <input matInput name="IdentificationOnClient" [formControl]="pacienteForm.controls['ClientName']" upperCase>
        </mat-form-field>
      </div>
    </div>


    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="PatientName" [formControl]="pacienteForm.controls['PatientName']"
            placeholder="Nome do Paciente" maxlength="60" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <!-- <mat-form-field class="full-width">
          <input matInput name="BirthDate" [formControl]="pacienteForm.controls['BirthDate']" placeholder="Data de Nascimento" maxlength="10"
            upperCase>
        </mat-form-field> -->
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento"
            [formControl]="pacienteForm.controls['BirthDate']">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="CPF" [formControl]="pacienteForm.controls['CPF']" placeholder="CPF" upperCase
            maxlength="14" mask="000.000.000-00">
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="RG" [formControl]="pacienteForm.controls['RG']" placeholder="RG" maxlength="20"
            upperCase>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="IdentificationOnClient" [formControl]="pacienteForm.controls['IdentificationOnClient']"
            placeholder="Identificação do cliente" maxlength="20" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Responsible" [formControl]="pacienteForm.controls['Responsible']"
            placeholder="Responsável" maxlength="60" upperCase>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="BestContactPeriod" [formControl]="pacienteForm.controls['BestContactPeriod']"
            placeholder="Melhor período de contato" maxlength="20" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="CID1" [formControl]="pacienteForm.controls['CID1']" placeholder="CID 1" maxlength="20"
            upperCase>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="CID2" [formControl]="pacienteForm.controls['CID2']" placeholder="CID 2" maxlength="20"
            upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="CID3" [formControl]="pacienteForm.controls['CID3']" placeholder="CID 3" maxlength="20"
            upperCase>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="pacienteForm.controls['PatientStatus']" placeholder="Status">
            <mat-option>Selecione o Cliente</mat-option>
            <mat-option [value]="1">Ativo</mat-option>
            <mat-option [value]="1">Suspenso</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Comments" [formControl]="pacienteForm.controls['Comments']" placeholder="Observações"
            maxlength="60" upperCase>
        </mat-form-field>
      </div>

    </div>


    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Patologias</span><span class="mat-card-titulo" fxFlex></span>
        <!-- <button mat-icon-button type="button" (click)="addPatientPathologies()">
            <mat-icon>add</mat-icon>
          </button> -->
      </mat-card-header>
      <form [formGroup]="pathologieForm" autocomplete="off">
        <mat-card-content class="mat-card-body" style="padding-top: 10px">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select [formControl]="pathologieForm.controls['pathologyId']" placeholder="Patologia">
                  <mat-option>Selecione a Patologia</mat-option>
                  <mat-option *ngFor="let pathology of listPathologies" [value]="pathology.pathologyId">
                    {{pathology.pathologyDescription}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <button mat-raised-button class="mat-primary" [disabled]="pathologieForm.invalid" type="button"
                (click)="addPatientPathologies()">Adic. Patologia</button>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="100" class="pr-1">
              <ngx-datatable class="material" [rows]="listPatientPathologies" [columnMode]="'standard'"
                [headerHeight]="35" [footerHeight]="0" [rowHeight]="'35'" [messages]="{emptyMessage: ''}">
                <ngx-datatable-column name="Desativar" [flexGrow]="0" [width]="80">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="warn" (click)="removePathologies(row)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Patologias" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["pathologyDescription"]}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </mat-card-content>
      </form>
    </mat-card>

    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Telefones</span><span class="mat-card-titulo" fxFlex></span>
        <!-- <button mat-icon-button type="button" (click)="addPhone()">
          <mat-icon>add</mat-icon>
        </button> -->
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">
        <form [formGroup]="foneForm" (ngSubmit)="addPhone()" autocomplete="off">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="phoneNumber" [formControl]="foneForm.controls['phoneNumber']"
                  placeholder="Telefone" upperCase maxlength="14" mask="(00)000000000" #telefone>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Ramal" [formControl]="foneForm.controls['ramal']" placeholder="Ramal"
                  maxlength="6" upperCase>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select [formControl]="foneForm.controls['phoneTypeId']" placeholder="Tipo de Telefone">
                  <mat-option>Selecione o Tipo de Telefone</mat-option>
                  <mat-option *ngFor="let phoneType of listPhoneType" [value]="phoneType.phoneTypeId">
                    {{phoneType.description}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-1">
              <button mat-raised-button class="mat-primary" [disabled]="foneForm.invalid" type="button"
                (click)="addPhone()">Adic. Telefone</button>
            </div>
          </div>
        </form>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="90" class="pr-1">
            <ngx-datatable class="material" [rows]="listPhones" [columnMode]="'standard'" [headerHeight]="35"
              [footerHeight]="0" [rowHeight]="'35'" [messages]="{emptyMessage: ''}">
              <ngx-datatable-column name="Desativar" [flexGrow]="0" [width]="80">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="warn" (click)="removePhone(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Telefone" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["phoneNumber"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Ramal" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["ramal"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Tipo" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["description"]}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>

      </mat-card-content>
    </mat-card>


    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Endereços</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">

        <form [formGroup]="addressForm" autocomplete="off">

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Address" [formControl]="addressForm.controls['Address']" placeholder="Endereço"
                  maxlength="60" upperCase>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="addressNumber" [formControl]="addressForm.controls['AddressNumber']"
                  placeholder="Número" maxlength="10" upperCase>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="city" [formControl]="addressForm.controls['City']" placeholder="Cidade"
                  maxlength="50" upperCase>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="neighborhood" [formControl]="addressForm.controls['Neighborhood']"
                  placeholder="Bairro" maxlength="50" upperCase>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select [formControl]="addressForm.controls['stateId']" placeholder="Estado">
                  <mat-option>Selecione o Estado</mat-option>
                  <mat-option *ngFor="let state of listState" [value]="state.stateId">{{state.stateName}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="zipCode" [formControl]="addressForm.controls['ZipCode']" placeholder="CEP"
                  upperCase maxlength="14" mask="00000-000">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="100" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="complement" [formControl]="addressForm.controls['Complement']"
                  placeholder="Complemento" maxlength="200" upperCase>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select [formControl]="addressForm.controls['addressTypeId']" placeholder="Tipo de Endereço">
                  <mat-option>Selecione o Tipo de Endereço</mat-option>
                  <mat-option *ngFor="let addressType of listAddressType" [value]="addressType.addressTypeId">
                    {{addressType.addressTypeDescription}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <button mat-raised-button class="mat-primary" [disabled]="addressForm.invalid" type="button"
                (click)="addAddress()">Adic. Endereço</button>
            </div>
          </div>
        </form>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="listAddress" [columnMode]="'standard'" [headerHeight]="35"
              [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true" [messages]="{emptyMessage: ''}">
              <ngx-datatable-column name="Desativar" [flexGrow]="0" [width]="80">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="warn" (click)="removeAddress(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Tipo de Endereço" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["addressTypeDescription"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Endereço" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["Address"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Numero" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["AddressNumber"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Cidade" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["City"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Bairro" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["Neighborhood"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Estado" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["stateName"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="CEP" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["ZipCode"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Complemento" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["Complement"]}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Medicamentos</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">

        <form [formGroup]="medicinesForm" autocomplete="off">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="70" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="MedicineFind" placeholder="Medicamento" maxlength="60" upperCase>
              </mat-form-field>
            </div>
            <div fxFlex="30" class="pr-1">
              <button mat-raised-button class="mat-primary" type="button" (click)="procurarMedicamento()">Procurar
                medicamentos</button>
            </div>
          </div>


          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="100" class="pr-1">
              <ngx-datatable class="material" [rows]="listMedicines" [columnMode]="'standard'" [headerHeight]="35"
                [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true" [messages]="{emptyMessage: ''}"
                [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'>
                <!-- <ngx-datatable-column name="Escolher" [flexGrow]="0" [width]="80">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="warn" (click)="removeAddress(row)">
                      <mat-icon>add</mat-icon>
                    </button>
                  </ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name="EAN" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["EAN"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Medicamento" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["MedicineName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Laboratório" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["LabName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Princípio ativo" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["ActivePrincipleName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Apresentação" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Presentation"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Unidade" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["UnitName"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Dosagem" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Dosage"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Quantidade" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["QtyTotal"]}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="EAN" [formControl]="medicinesForm.controls['EAN']" placeholder="EAN" upperCase
                  maxlength="13" mask="0000000000000">
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="authorizacao" [formControl]="medicinesForm.controls['Authorization']"
                  placeholder="Autorização" upperCase maxlength="20">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="quantidade" [formControl]="medicinesForm.controls['Qty']" placeholder="Quantidade"
                  upperCase maxlength="20" mask="000">
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="dosagem" [formControl]="medicinesForm.controls['Dosage']"
                  placeholder="Dose diária" upperCase maxlength="20" mask="0000">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <mat-select [formControl]="medicinesForm.controls['Dispensation']" placeholder="Período de dispensação">
                  <mat-option>Selecione a forma de dispensação</mat-option>
                  <mat-option [value]="30">30 Dias </mat-option>
                  <mat-option [value]="60">60 Dias </mat-option>
                  <mat-option [value]="90">90 Dias </mat-option>
                  <mat-option [value]="120">120 Dias </mat-option>
                  <mat-option [value]="150">150 Dias </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-1">
              <button mat-raised-button class="mat-primary" [disabled]="medicinesForm.invalid" type="button"
                (click)="addPatientMedicine()">Adic. Medicamentos</button>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="100" class="pr-1">
              <ngx-datatable class="material" [rows]="listPatientMedicines" [columnMode]="'standard'"
                [headerHeight]="35" [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true"
                [messages]="{emptyMessage: ''}">
                <ngx-datatable-column name="Escolher" [flexGrow]="0" [width]="80">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="warn" (click)="removeMedicine(row)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="EAN" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["EAN"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Dose diária" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Dosage"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Quantidade" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Qty"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Autorização" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Authorization"]}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Dispensação" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row["Dispensation"]}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>

        </form>
      </mat-card-content>
    </mat-card>

  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <button mat-raised-button class="mat-primary" [disabled]="pacienteForm.invalid">Gravar</button>
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
    </div>
  </div>
</form>
