<h3>
  {{data.title}}</h3>
<form [formGroup]="pedidoForm" autocomplete="off">
  <mat-dialog-content class="corpo">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

      <div fxFlex="10" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="otherper" upperCase placeholder="ID Pedido"
            [formControl]="pedidoForm.controls['OrderAvaliableID']">
        </mat-form-field>
      </div>

      <div fxFlex="45" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="otherper" upperCase placeholder="Médico"
            [formControl]="pedidoForm.controls['doctorName']">
        </mat-form-field>
      </div>
      <div fxFlex="45" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="otherper" upperCase placeholder="Representante"
            [formControl]="pedidoForm.controls['representativeName']">
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="otherper" upperCase placeholder="Laboratório"
            [formControl]="pedidoForm.controls['laboratoryFantasyName']">
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="otherper" upperCase placeholder="Data Envio"
            [formControl]="pedidoForm.controls['orderDoctorDateSend']">
        </mat-form-field>
      </div>
    </div>



    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Itens do Pedido</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      <mat-card-content class="mat-card-body" style="padding-top: 10px">       

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1">
            <ngx-datatable class="material" [rows]="produtos" [columnMode]="'standard'" [headerHeight]="35"
              [footerHeight]="0" [rowHeight]="'35'" [scrollbarH]="true" [messages]="{emptyMessage: ''}">              
              <ngx-datatable-column name="Produto" [width]="500">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["productName"]}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Quantidade" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row["Qty"]}}
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Fechar</button>
      <span fxFlex></span>
    </div>
  </div>
</form>
