<h3>
  {{data.title}}</h3>
<mat-dialog-content class="corpo">

  <form [formGroup]="researchForm" autocomplete="off" *ngIf="data.novo">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="60" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="Paciente" [formControl]="researchForm.controls['PatientId']">
            <mat-option *ngFor="let patient of patients" [value]="patient.PatientId">{{patient.PatientName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="90" class="question" *ngFor="let question of listQuestions; let i = index">
        <label style="font-weight:bold"> {{i+1}} - {{question.Question}}
        </label>
        <!-- escolha unica ou multipla -->
        <div *ngIf="(question.QuestionType=='U'||question.QuestionType=='M')">
          <mat-form-field class="full-width">
            <mat-select [placeholder]="question.Question" [multiple]="question.QuestionType=='M'"
              [formControl]="responsesForm.controls[question.QuestionsId]">
              <mat-option *ngFor="let answer of question.ListAnswers" [value]="answer.AnswersId"
                (onSelectionChange)="changeValue($event, answer, question.QuestionsId, question.Complement)">
                {{answer.Answer}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="question.Complement=='S'">
            <mat-form-field class="full-width">
              <input matInput placeholder="Outros" [formControl]="responsesForm.controls[question.QuestionsId+'T']"
                maxlength="20" />
            </mat-form-field>
          </div>
        </div>

        <!-- texto -->
        <div *ngIf="question.QuestionType=='T'">
          <mat-form-field class="full-width">
            <input matInput [placeholder]="question.Question" maxlength="20"
              [formControl]="responsesForm.controls[question.QuestionsId]" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content" *ngIf="!data.novo">
    <div fxFlex="90" class="question" *ngFor="let pergunta of listPerguntas let i = index">
      <p style="font-weight:bold"> {{i+1}} - {{pergunta.Question}}
      </p>

      
      <p *ngFor="let comment of pergunta.Resps">{{comment}}</p>


    </div>
  </div>



</mat-dialog-content>


<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
  <div fxFlex="100" class="mt-1">
    <span fxFlex></span>
    <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
    <span fxFlex></span>
    <button mat-raised-button class="mat-primary" type="button" (click)="saveResearch()"
      *ngIf="data.novo">Enviar</button>
    <span fxFlex *ngIf="data.novo"></span>
  </div>
</div>