<h3 matDialogTitle>
  {{data.title}}</h3>

<form [formGroup]="formAdverseEffects" autocomplete="off">
  <mat-dialog-content>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="nome" [formControl]="formAdverseEffects.controls['AdverseEffectsDescription']"
            placeholder="Efetios Adversos" maxlength="40" upperCase>
        </mat-form-field>
      </div>
    </div>

  </mat-dialog-content>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" type="button" (click)="SaveAdverseEffects()"
        [disabled]="formAdverseEffects.invalid">Gravar</button>
      <span fxFlex></span>
    </div>
  </div>
</form>