<h2 matDialogTitle>
  {{data.title}}</h2>

<form [formGroup]="contatosForm" (ngSubmit)="addContato()">
  <mat-dialog-content>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="nome" [formControl]="contatosForm.controls['contactName']" placeholder="Nome"
            maxlength="40" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Cargo" [formControl]="contatosForm.controls['occupation']" placeholder="Cargo"
            maxlength="40" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="emailContato" [formControl]="contatosForm.controls['email']" placeholder="Email"
            maxlength="100" upperCase>
        </mat-form-field>
      </div>

      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="phone" [formControl]="contatosForm.controls['phone']" placeholder="Telefone"
            maxlength="13" mask="(00)000000000" upperCase>
        </mat-form-field>
      </div>
      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="Ramal" [formControl]="contatosForm.controls['ramal']" placeholder="Ramal" maxlength="8"
            upperCase>
        </mat-form-field>
      </div>


      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="contatosForm.controls['contactTypeId']" placeholder="Tipo de Contato">
            <mat-option>Selecione o Tipo de Contato</mat-option>
            <mat-option *ngFor="let contactType of listContactType" [value]="contactType.contactTypeId">
              {{contactType.contactDescription}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
    <div fxFlex="100" class="mt-1">
      <button mat-raised-button class="mat-primary" [disabled]="contatosForm.invalid">Gravar</button>
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
    </div>
  </div>
</form>
