<h3>
  {{data.title}}</h3>
<form [formGroup]="doctorForm" (ngSubmit)="SaveDoctor()" autocomplete="off">
  <mat-dialog-content class="corpo">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="100" class="pr-1" *ngIf="this.labFantasyName!=''&&this.labFantasyName!='undefined'&&this.labFantasyName!='null'">
        <mat-form-field class="full-width">
          <input matInput name="labname" placeholder="Laboratório" maxlength="200" [disabled]="true" upperCase value={{this.labFantasyName}}>
        </mat-form-field>
      </div> 
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="doctorName" placeholder="Nome do Médico" maxlength="50" upperCase
          [formControl]="doctorForm.controls['doctorName']" required>
          <mat-error *ngIf="this.doctorForm.get('doctorName').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
        
      </div>

      <div fxFlex="15" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="campocrm" placeholder="CRM" maxlength="6" upperCase mask="000000"
          [formControl]="doctorForm.controls['crm']" required> 
          <mat-error *ngIf="this.doctorForm.get('crm').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
          
        </mat-form-field>
      </div>

      <div fxFlex="15" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="UF CRM" [formControl]="doctorForm.controls['uf_crm']" required>
            <mat-option *ngFor="let estado of linhasStates" [value]="estado.stateId">{{estado.stateName}} </mat-option>
          </mat-select>
          <mat-error *ngIf="this.doctorForm.get('uf_crm').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="cpf" placeholder="CPF" maxlength="14" mask="000.000.000-00" upperCase
          [formControl]="doctorForm.controls['cpf']" required>
          <mat-error *ngIf="this.doctorForm.get('cpf').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="address" placeholder="Logradouro" maxlength="60" upperCase
          [formControl]="doctorForm.controls['address']" required>
          <mat-error *ngIf="this.doctorForm.get('address').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="15" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="number" placeholder="Número" maxlength="10" upperCase
          [formControl]="doctorForm.controls['number']" required>
          <mat-error *ngIf="this.doctorForm.get('number').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="35" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="complement" placeholder="Complemento" maxlength="60" upperCase
          [formControl]="doctorForm.controls['complement']">
        </mat-form-field>
      </div>

      <div fxFlex="40" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="city" placeholder="Cidade" maxlength="50" upperCase
          [formControl]="doctorForm.controls['city']" required>
          <mat-error *ngIf="this.doctorForm.get('city').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="40" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="neighborhood" placeholder="Bairro" maxlength="50" upperCase
          [formControl]="doctorForm.controls['neighborhood']" required>
          <mat-error *ngIf="this.doctorForm.get('neighborhood').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="Estado" [formControl]="doctorForm.controls['stateId']" required>            
            <mat-option *ngFor="let estado of linhasStates" [value]="estado.stateId">{{estado.stateName}} </mat-option>
          </mat-select>
          <mat-error *ngIf="this.doctorForm.get('stateId').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="15" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="zipCode" placeholder="CEP" maxlength="9" upperCase mask="00000-000"
          [formControl]="doctorForm.controls['zipCode']" required>    
          <mat-error *ngIf="this.doctorForm.get('zipCode').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="phoneComercial" placeholder="Telefone Comercial" maxlength="16" upperCase mask="(00)00000000"
          [formControl]="doctorForm.controls['phoneComercial']" required>
          <mat-error *ngIf="this.doctorForm.get('phoneComercial').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
          
        </mat-form-field>
      </div>

      <div fxFlex="15" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="ramal" placeholder="Ramal" maxlength="8" upperCase mask="0000"
          [formControl]="doctorForm.controls['ramal']">            
        </mat-form-field>        
      </div>      

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="cellPhone" placeholder="Telefone Celular" maxlength="14" upperCase mask="(00)000000000"
          [formControl]="doctorForm.controls['cellPhone']">
        </mat-form-field>
      </div>


      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="focalPoint" placeholder="Ponto focal no médico" maxlength="50" upperCase
          [formControl]="doctorForm.controls['focalPoint']" required>
          <mat-error *ngIf="this.doctorForm.get('focalPoint').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="30" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="email" placeholder="Email" maxlength="100" upperCase
          [formControl]="doctorForm.controls['email']" required>
          <mat-error *ngIf="this.doctorForm.get('email').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
          <mat-error *ngIf="this.doctorForm.get('email').hasError('email')"> 
            {{emailInvalido}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="20" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="login" placeholder="Login" maxlength="14" upperCase
          [formControl]="doctorForm.controls['login']" required>
          <mat-error *ngIf="this.doctorForm.get('login').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="25" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="password" placeholder="Senha" maxlength="14" upperCase type="password"
          [formControl]="doctorForm.controls['password']" required>
          <mat-error *ngIf="this.doctorForm.get('password').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="25" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="confirmPassword" placeholder="Confirmar senha" maxlength="14" upperCase type="password"
          [formControl]="doctorForm.controls['confirmPassword']" required>
          <mat-error *ngIf="this.doctorForm.get('confirmPassword').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="Status" [formControl]="doctorForm.controls['status']" required>
            <mat-option value="1">Ativo</mat-option>
            <mat-option value="2">Suspenso</mat-option>
          </mat-select>
          <mat-error *ngIf="this.doctorForm.get('status').hasError('required')"> 
            {{campoObrigatorio}} 
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select placeholder="Representante" [formControl]="doctorForm.controls['representativeID']" (selectionChange)="selectRepres($event)" required>
            <mat-option *ngFor="let representative of listRepresentatives" [value]="representative.representativeID">{{representative.representativeName}} </mat-option>             
          </mat-select>
          <mat-error *ngIf="this.doctorForm.get('representativeID').hasError('required')"> 
            {{campoObrigatorio}}
          </mat-error>
        </mat-form-field>
      </div>      

      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="comments" placeholder="Observações" maxlength="200" upperCase
          [formControl]="doctorForm.controls['comments']">
        </mat-form-field>
      </div>
      
    </div>  
  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>      
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" [disabled]="doctorForm.invalid">Gravar</button>      
      <span fxFlex></span>
    </div>
  </div>
</form>
