<mat-sidenav-container class="app-side-nav-container mat-drawer-transition">
  <!-- Main side navigation -->
  <mat-sidenav #sidenav [opened]="!isNavOver()" [mode]="isNavOver() ? 'over' : 'side'" class="sidebar-panel">
    <div id="scroll-area" class="navigation-hold" fxLayout="column">
      <!-- App Logo -->
      <div class="branding default-bg">
        <img src="assets/images/Logo_YouVita.png" alt="" class="app-logo" [routerLink]="['/home']"/>
      </div>

      <!-- Sidebar user -->
      <div class="app-user">
        <!-- <div class="app-user-photo">
          <img src="assets/images/profile.png">
        </div> -->
        
        <span class="app-user-name mb-05">
          <mat-icon class="icon-xs text-muted">lock</mat-icon> 
          {{usuario.username}}  
        
        </span>
        
        <!-- <div class="app-user-controls">
          <button 
          class="text-muted"
          mat-icon-button 
          mat-xs-button
          [matMenuTriggerFor]="appUserMenu">
            <mat-icon>settings</mat-icon>
          </button>
          <button 
          class="text-muted"
          mat-icon-button 
          mat-xs-button
          mat tip="Caixa de entrada"
          routerLink="/entrada">
            <mat-icon>email</mat-icon>
          </button>
          <button 
          class="text-muted"
          mat-icon-button 
          mat-xs-button
          matTooltip="Sair"
          routerLink="/sessao/entrar">
            <mat-icon>exit_to_app</mat-icon>
          </button>
          <mat-menu #appUserMenu="matMenu">
              <button mat-menu-item routerLink="/perfil/geral">
                <mat-icon>account_box</mat-icon>
                <span>Perfil</span>
              </button>
              <button mat-menu-item routerLink="/perfil/configuracoes">
                <mat-icon>settings</mat-icon>
                <span>Configurações do Perfil</span>
              </button>
              <button mat-menu-item routerLink="/calendario">
                <mat-icon>date_range</mat-icon>
                <span>Calendário</span>
              </button>
              <button mat-menu-item routerLink="/sessao/entrar">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sair</span>
              </button>
            </mat-menu>
        </div> -->
      </div>
      <!-- Navigation -->
      <navigation></navigation>
    </div>
  </mat-sidenav> 

  <!-- Top Bar -->
  <!-- Template reference variables of Left sidebar and Right notification is supplied -->
  <!-- Listens language change event -->
  <topbar 
  [sidenav]="sidenav" 
  [notificPanel]="notificationPanel"
  (onLangChange)="translate.use($event)"
  [usuario]="usuario"></topbar> 
  <app-breadcrumb #breadcrumb></app-breadcrumb>

  <!-- App content -->
  <div class="rightside-content-hold">
    <div class="view-loader" *ngIf="isModuleLoading">
      <div class="spinner">
        <div class="double-bounce1 mat-bg-accent"></div>
        <div class="double-bounce2 mat-bg-primary"></div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <!-- Notificaation bar -->
  <mat-sidenav #notificationPanel mode="over" class="" align="end">
    <div class="navigation-hold" fxLayout="column">
      <app-notifications [notificPanel]="notificationPanel"></app-notifications>
    </div>
  </mat-sidenav>
</mat-sidenav-container>